<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    
    <p:panelGrid columns="3" layout="grid" style="margin-bottom:10px;margin-top:10px;">
      <h:outputText value="Eletra Energy Solution" style="float:left" />
      
      <h:outputLink value="#">
			<h:outputText value="#{bundle.version}: 0.0.2 (build 0002) #{bundle.updateon}: 29/12/2017 18:50" />
	  </h:outputLink>
      
      <h:outputText value="#{bundle.lastAccess}: #{sessionScope.lastAccess}" style="float:right"/>
	</p:panelGrid>
    
</ui:composition>