<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pa="http://primefaces.org/barcelona">
    <div class="topbar">
        <div class="logo" >
        	<img src="#{facesContext.externalContext.request.contextPath}/img/logo_login.png" />
	    </div>
        <h:link outcome="/home">
		    <svg 
				 xmlns="http://www.w3.org/2000/svg"
				 xmlns:xlink="http://www.w3.org/1999/xlink"
				 width="417px" height="60px" style="margin-left: 1px;opacity: 1.00;">
				<text font-family="Roboto" fill="rgb(192,192,192)" font-size="25px" x="0px" y="40px">Metrologia</text>
			</svg>
        </h:link>
        
        <a id="topbar-menu-button" href="#">
            <i class="fa fa-bars"></i>
        </a>
        
        <ul class="topbar-menu fadeInDown animated">
            <li class="profile-item" style="margin-top: 0px;">
                <a href="#">                            
                    <div class="profile-image">
                        <i class="topbar-icon fa fa-fw fa-user"></i>
                    </div>
                    <div class="profile-info">
                        <span class="topbar-item-name profile-name">#{LoginBean.userName}</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="topbar-icon fa fa-fw fa-cog"></i>
                    <span class="topbar-item-name">#{bundle.settings}</span>
                </a>
                <ul class="animated">
		        <h:form id="menu-topbar">
		        
                    <li role="menuitem">
                        <a href="#">
                            <i class="fa fa-fw fa-paint-brush"></i>
                            <span>#{bundle.menuModes}</span>
                        </a>
                        <ul class="animated">
        		            <li role="menuitem">
        		            	<p:commandLink id="menu1" value="Light Menu" icon="&#xE893;" actionListener="#{guestPreferences2.setDarkMenu(false)}" ajax="false"/>
        		            </li>
        		            <li role="menuitem">
        		            	<p:commandLink id="menu2" value="Dark Menu" icon="&#xE892;" actionListener="#{guestPreferences2.setDarkMenu(true)}" ajax="false"/>
        		            </li>
						</ul>        		            
                    </li>
                    <li role="menuitem">
                        <a href="#">
                            <i class="fa fa-fw fa-star-o"></i>
                            <span>#{bundle.orientation}</span>
                        </a>
                        <ul class="animated">
        		            <li role="menuitem">
        		            	<p:commandLink id="om_ltr" value="LTR" icon="&#xE236;" actionListener="#{guestPreferences2.setOrientationRTL(false)}" ajax="false"/>
        		            </li>
        		            <li role="menuitem">
        		            	<p:commandLink id="om_rtl" value="RTL" icon="&#xE237;" actionListener="#{guestPreferences2.setOrientationRTL(true)}" ajax="false"/>
        		            </li>
						</ul>        		            
                    </li>
                    <li role="menuitem">
                        <a href="#">
                            <i class="fa fa-fw fa-lock"></i>
                            <span>#{bundle.themes}</span>
                        </a>
                        <ul class="animated">
        		            <li role="menuitem">
        		            	<p:commandLink id="theme1" value="Blue - Amber" icon="&#xE40A;" actionListener="#{guestPreferences2.setTheme('blue')}" ajax="false"/>
        		            </li>
        		            <li role="menuitem">
        		            	<p:commandLink id="theme2" value="Teal - Amber" icon="&#xE40A;" actionListener="#{guestPreferences2.setTheme('teal')}" ajax="false"/>
        		            </li>
        		            <li role="menuitem">
        		            	<p:commandLink id="theme3" value="Blue Grey - Green" icon="&#xE40A;" actionListener="#{guestPreferences2.setTheme('blue-grey')}" ajax="false"/>
        		            </li>
        		            <li role="menuitem">
        		            	<p:commandLink id="theme4" value="Cyan - Yellow" icon="&#xE40A;" actionListener="#{guestPreferences2.setTheme('cyan')}" ajax="false"/>
        		            </li>
        		            <li role="menuitem">
        		            	<p:commandLink id="theme5" value="Dark - Blue" icon="&#xE40A;" actionListener="#{guestPreferences2.setTheme('dark-blue')}" ajax="false"/>
        		            </li>
        		            <li role="menuitem">
        		            	<p:commandLink id="theme6" value="Dark - Green" icon="&#xE40A;" actionListener="#{guestPreferences2.setTheme('dark-green')}" ajax="false"/>
        		            </li>
        		            <li role="menuitem">
        		            	<p:commandLink id="theme7" value="Light Blue - Green" icon="&#xE40A;" actionListener="#{guestPreferences2.setTheme('light-blue')}" ajax="false"/>
        		            </li>
        		            <li role="menuitem">
        		            	<p:commandLink id="theme8" value="Indigo - Cyan" icon="&#xE40A;" actionListener="#{guestPreferences2.setTheme('indigo')}" ajax="false"/>
        		            </li>
        		            <li role="menuitem">
        		            	<p:commandLink id="theme9" value="Deep Purple - Pink" icon="&#xE40A;" actionListener="#{guestPreferences2.setTheme('deep-purple')}" ajax="false"/>
        		            </li>
        		            <li role="menuitem">
        		            	<p:commandLink id="theme10" value="Green - Yellow" icon="&#xE40A;" actionListener="#{guestPreferences2.setTheme('green')}" ajax="false"/>
        		            </li>
						</ul>
                    </li>
                    <li role="menuitem">
			    		<p:commandLink id="logout_menu_option" value="#{bundle.exit}" action="#{LoginBean.logout}" title="#{bundle.exit}" ajax="false"/>
           			</li>
				</h:form>                
                </ul>
            </li>
	        <h:form id="menu-language">
	            <!-- flag-en -->
	            <!-- flag-pt -->
	            <li role="menuitem">
					<p:commandLink id="en" update="@all" actionListener="#{localeBean.change2English}" styleClass="ui-icon-flag-en" immediate="true" ajax="false" rendered="#{localeBean.appLocale.language != 'en'}" />  
	            </li>
	            <li role="menuitem">
					<p:commandLink id="pt" update="@all" action="#{localeBean.change2Brasil}" styleClass="ui-icon-flag-pt" immediate="true" ajax="false" rendered="#{localeBean.appLocale.language != 'pt'}"/>
	            </li>
			</h:form>                
        </ul>        
    </div>
</ui:composition>