<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/template.xhtml"
		xmlns="http://www.w3.org/1999/xhtml"     
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:c="http://java.sun.com/jsp/jstl/core"
	  	xmlns:p="http://primefaces.org/ui" >
		
	<ui:define name="content">
		
		<f:metadata>
		   <f:event type="preRenderView" listener="#{createMeasuringInstrumentModelBean.loadInit}" />	
		</f:metadata>			
		
		<h:form id="frmCreateMeasuringInstrumentModel" styleClass="forms box-border" prependId="false">
		
			<p:growl id="msg" showDetail="false" autoUpdate="true" sticky="false" escape="true" style="text-align: left;" life="2000"/>
			 
				<p:panel id="basic" header="" footer="" toggleable="false">
                	 
	                <f:facet name="header">
					  <h:panelGrid columns="2">
					    <span class="ui-icon ui-icon-apps" />
					    <h:outputText value="#{bundle.createMeasuringInstrumentModel}" style="font-weight:bold;text-transform: uppercase" />
					  </h:panelGrid>
					</f:facet>
 
	                <f:facet name="footer">
						<p:commandButton id="btSave" actionListener="#{createMeasuringInstrumentModelBean.save}" ajax="true" value="#{bundle.save}" icon="ui-icon-save" styleClass="green-btn flat" update=":frmCreateMeasuringInstrumentModel" process="@form" />
						<p:spacer width="8" />
						<p:commandButton id="btAdd" actionListener="#{createMeasuringInstrumentModelBean.addMeasuringInstrumentModel}" ajax="true" value="#{bundle.newButton}" icon="ui-icon-add" styleClass="cyan-btn flat" process="@form" update=":frmCreateMeasuringInstrumentModel" />	        			
	    			</f:facet>
	    			
					<div class="row cadastro">		
						<div class="col-direita">
							<p:dataTable var="measuringInstrumentModel" value="#{createMeasuringInstrumentModelBean.measuringInstrumentModels}" emptyMessage="#{bundle.measuringInstrumentModelNotExists}"
								paginator="true" rows="20" lazy="false" currentPageReportTemplate="#{bundle.totalRecords}: {totalRecords},  #{bundle.pages}: {currentPage} #{bundle.of} {totalPages}"
								paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" 
								rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}" rowsPerPageTemplate="5,10,15,20,40">  

						        <p:column sortBy="#{measuringInstrumentModel.measuringInstrumentManufacturer}" headerText="#{bundle.measuringInstrumentManufacturer}" style="width:20%;text-align: left;">
									<p:selectOneMenu id="measuringInstrumentManufacturer" value="#{measuringInstrumentModel.measuringInstrumentManufacturer}" title="#{bundle.selectMeasuringInstrumentManufacturer}" converter="measuringInstrumentManufacturerConverter" style="height:30px;" required="true" requiredMessage="#{bundle.measuringInstrumentManufacturersRequired}">  
						            	<f:selectItem itemLabel="#{bundle.chooseOption}" itemValue="" />
				            			<f:selectItems var="l" itemLabel="#{l.name}" itemValue="#{l}" value="#{createMeasuringInstrumentModelBean.measuringInstrumentManufacturers}"  />
				            			<!-- <p:ajax event="change" update=":frmCreateMeasuringInstrumentModel" process="@this" />  -->
					        		</p:selectOneMenu>										            
						        </p:column>
								
						        <p:column sortBy="#{measuringInstrumentModel.name}" headerText="#{bundle.name}" style="width:20%;text-align: left;">  
						            <p:inputText value="#{measuringInstrumentModel.name}" size="41" maxlength="120" required="true" requiredMessage="#{rowIx}: #{bundle.nameRequired}" >
										<p:ajax event="change" update="@this" process="@this" listener="#{createMeasuringInstrumentModelBean.checkName(measuringInstrumentModel)}" />
						            </p:inputText>  
						        </p:column>  
						        
						        <p:column sortBy="#{measuringInstrumentModel.description}" headerText="#{bundle.description}" style="width:50%;text-align: left;">  
						            <p:inputText value="#{measuringInstrumentModel.description}" size="90" required="false" maxlength="2000" requiredMessage="#{rowIx}: #{bundle.descriptionRequired}"/>  
						        </p:column>
						        
						        <p:column headerText="#{bundle.options}" style="width:10%" styleClass="ui_botoes_grid"> 
						            <p:commandButton  icon="fa fa-trash" title="#{bundle.removeMeasuringInstrumentModel}" actionListener="#{createMeasuringInstrumentModelBean.remove(measuringInstrumentModel)}" update="@form">
							            <p:confirm header="#{bundle.removeMeasuringInstrumentModel}" message="#{bundle.confirmRemoveMeasuringInstrumentModel}" icon="ui-icon-alert" />  
						            </p:commandButton>  				         
						        </p:column>
						          
							</p:dataTable>
						</div>
					</div>	    			
                 
                </p:panel>
                
				<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
					<p:commandButton value="#{bundle.yes}" type="button" styleClass="btn success ui-confirmdialog-yes" icon="ui-icon-check"/>
					<p:commandButton value="#{bundle.no}" type="button" styleClass="btn cancel ui-confirmdialog-no" icon="ui-icon-close"/>
				</p:confirmDialog>
			
		</h:form>
	</ui:define>
</ui:composition>
