<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/template.xhtml"
		xmlns="http://www.w3.org/1999/xhtml"     
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:c="http://java.sun.com/jsp/jstl/core"
	  	xmlns:p="http://primefaces.org/ui" >
		
	<ui:define name="content">
		
		<f:metadata>
		   <f:event type="preRenderView" listener="#{createMeterModelBean.loadInit}" />	
		</f:metadata>			
		
		<h:form id="frmCreate" styleClass="forms box-border" prependId="false">
		
			<p:growl id="msg" showDetail="false" autoUpdate="true" sticky="false" escape="true" style="text-align: left;" life="2000"/>
			
                <p:panel id="basic" header="" footer="" toggleable="false">
	                <f:facet name="header">
					  <h:panelGrid columns="2">
					    <span class="ui-icon ui-icon-apps" />
					    <h:outputText value="#{bundle.createDeviceModel}" style="font-weight:bold;text-transform: uppercase" />
					  </h:panelGrid>
					</f:facet>
					
	                <f:facet name="footer">
		    			<p:commandButton id="btSave" action="#{createMeterModelBean.save}" value="#{bundle.save}" ajax="true" icon="ui-icon-save" styleClass="green-btn flat" update="@all" process="@form"/>
	        			<p:spacer width="8" />
	        			<p:commandButton id="btBack" value="#{bundle.back}" action="#{createMeterModelBean.back}" ajax="true" icon="ui-icon-backspace" styleClass="blue-grey-btn flat" immediate="true" />
	    			</f:facet>
    			
					<div class="row cadastro">		
						<div class="col-direita">
							<div class="row">
								<div class="span2 clear">
									<label for="line" class="block"><b>#{bundle.line}:</b><label class="label-required">*</label></label><br/>							
									<p:selectOneMenu id="line" value="#{createMeterModelBean.meterModel.meterLine}" title="#{bundle.selectLine}" converter="meterLineConverter" style="height:30px;" required="true" requiredMessage="#{bundle.lineRequired}">  
						            	<f:selectItem itemLabel="#{bundle.chooseLine}" itemValue="" />  
				            			<f:selectItems var="l" itemLabel="#{l.name}" itemValue="#{l}" value="#{createMeterModelBean.lines}"  />
				            			<p:ajax event="change" update=":frmCreate" process="@this" />
					        		</p:selectOneMenu>						
								</div>

								<div class="span2 clear">
									<label for="name"><b>#{bundle.name}:</b></label><label class="label-required">*</label>
									<p:inputText styleClass="block" style="width:380px;" disabled="#{createMeterModelBean.meterModel.meterLine eq null}" process="@this" id="name" required="true" requiredMessage="#{bundle.nameRequired}" title="#{bundle.name}" maxlength="120" value="#{createMeterModelBean.meterModel.name}" size="30"/>
								</div>
		
								<div class="span2 clear">
									<p:outputPanel id="panel">
										<label><b>#{bundle.identifier}:</b></label><label class="label-required">*</label>
										<p:inputText id="identifier" styleClass="block" style="#{createMeterModelBean.validateIdentifier eq null ? 'width:380px;' : (createMeterModelBean.validateIdentifier ? 'border-color: green;width:380px;' : 'border-color: red;width:380px;')}" disabled="#{createMeterModelBean.meterModel.meterLine eq null}" required="true" requiredMessage="#{bundle.identifierRequired}" title="#{bundle.identifier}" maxlength="30" value="#{createMeterModelBean.meterModel.identifier}" size="66">
											<p:ajax event="change" update="panel" process="@this" listener="#{createMeterModelBean.checkIdentifier}" />
										</p:inputText>
									</p:outputPanel>
								</div>
		
								<div class="span2 clear">
									<label for="description"><b>#{bundle.description}:</b></label><label class="label-required">*</label>
									<p:inputText styleClass="block" style="width:380px;" id="description" required="true" requiredMessage="#{bundle.descriptionRequired}" title="#{bundle.description}" maxlength="255" value="#{createMeterModelBean.meterModel.description}" size="66" disabled="#{createMeterModelBean.meterModel.meterLine eq null}"/>
								</div>
		
							</div>
						</div>
					</div>
			
                </p:panel>
			 				
		</h:form>
	</ui:define>
</ui:composition>
