<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/template.xhtml"
		xmlns="http://www.w3.org/1999/xhtml"     
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:c="http://java.sun.com/jsp/jstl/core"
	  	xmlns:p="http://primefaces.org/ui" >

	<ui:define name="content">
		
		<f:metadata>
		   <f:event type="preRenderView" listener="#{createTdsSpecBean.loadInit}" />	
		</f:metadata>			
		
		<h:form id="frmCreate" styleClass="forms box-border" prependId="false">
		
			<p:growl id="msg" showDetail="false" autoUpdate="true" sticky="false" escape="true" style="text-align: left;" life="2000"/>
			
				<p:panel id="basic" header="" footer="" toggleable="false">
                	 
	                <f:facet name="header">
					  <h:panelGrid columns="2">
					    <span class="ui-icon ui-icon-apps" />
					    <h:outputText value="#{bundle.createTdsSpec}" style="font-weight:bold;text-transform: uppercase" />
					  </h:panelGrid>
					</f:facet>
 
	                <f:facet name="footer">
						<p:commandButton id="btSave" actionListener="#{createTdsSpecBean.save}" ajax="true" value="#{bundle.save}" icon="ui-icon-save" styleClass="green-btn flat" update=":frmCreate" process="@form" />
						<p:spacer width="8" />
						<p:commandButton id="btAdd" ajax="true" value="#{bundle.newButton}" actionListener="#{createTdsSpecBean.addTdsSpec}" icon="ui-icon-add" styleClass="cyan-btn flat" update=":frmCreate" process="@form" >
							<f:actionListener binding="#{createTdsSpecBean.firstPage()}" />						
						</p:commandButton>
	    			</f:facet>
	    			
	    			<div class="row cadastro">		
						<div class="col-direita">
							<p:dataTable id="createDataTable" var="spec" value="#{createTdsSpecBean.tdsSpecs}" emptyMessage="#{bundle.tdsSpecNotExists}"
								paginator="true" rows="10" lazy="false"
								currentPageReportTemplate="#{bundle.totalRecords}: {totalRecords},  #{bundle.pages}: {currentPage} #{bundle.of} {totalPages}"
								paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" 
								rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}"
								rowsPerPageTemplate="5,10,15,20,40">  
		
						        <p:column sortBy="#{spec.identifier}" headerText="#{bundle.identifier}" style="width:20%;text-align: left;">  
						            <p:inputText value="#{spec.identifier}" size="31" required="true" maxlength="30" requiredMessage="#{rowIx}: #{bundle.identifierRequired}" >
						            	<p:ajax event="change" update="@this" process="@this" listener="#{createTdsSpecBean.checkIdentifier(spec)}" />
						            </p:inputText>  
						        </p:column>  
						        
						        <p:column sortBy="#{spec.name}" headerText="#{bundle.name}" style="width:20%;text-align: left;">  
						            <p:inputText value="#{spec.name}" size="41" required="true" maxlength="120" requiredMessage="#{rowIx}: #{bundle.nameRequired}"/>  
						        </p:column>  

						        <p:column sortBy="#{spec.nameEn}" headerText="#{bundle.nameEn}" style="width:17%;text-align: left;">  
						            <p:inputText value="#{spec.nameEn}" maxlength="120" size="89"/>  
						        </p:column>  

						        <p:column sortBy="#{spec.nameCn}" headerText="#{bundle.nameCn}" style="width:17%;text-align: left;">  
						            <p:inputText value="#{spec.nameCn}" maxlength="120" size="89"/>  
						        </p:column>  
						        
						        <p:column sortBy="#{spec.description}" headerText="#{bundle.description}" style="width:20%;text-align: left;">  
						            <p:inputText value="#{spec.description}" maxlength="2000" size="89"/>  
						        </p:column>  
						        
						        <p:column headerText="#{bundle.options}" style="width:6%" styleClass="ui_botoes_grid"> 
						            <p:commandButton id="removeTdsSpecBt" icon="fa fa-trash" title="#{bundle.removeTdsSpec}" actionListener="#{createTdsSpecBean.remove(spec)}" update="@form">  
						            	<p:confirm header="#{bundle.removeTdsSpec}" message="#{bundle.confirmRemoveTdsSpec}: [#{spec.name}] ?" icon="ui-icon-alert" />  
						            </p:commandButton>  				         
						        </p:column>  
							</p:dataTable>
						</div>
					</div>	    			
                 
                </p:panel>
                
				<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
					<p:commandButton id="confirmSpecDel" value="#{bundle.yes}" type="button" styleClass="btn success ui-confirmdialog-yes" icon="ui-icon-check"/>
					<p:commandButton value="#{bundle.no}" type="button" styleClass="btn cancel ui-confirmdialog-no" icon="ui-icon-close"/>
				</p:confirmDialog>
									
		</h:form>
	</ui:define>
</ui:composition>
