<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/template.xhtml"
		xmlns="http://www.w3.org/1999/xhtml"     
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:c="http://java.sun.com/jsp/jstl/core"
	  	xmlns:p="http://primefaces.org/ui" >
		
	<ui:define name="content">
		
		<f:metadata>
		   <f:event type="preRenderView" listener="#{createTdsSpecOptionBean.loadInit}" />	
		</f:metadata>			
		
		<h:form id="frmCreate" styleClass="forms box-border" prependId="false">
		
			<p:growl id="msg" showDetail="false" autoUpdate="true" sticky="false" escape="true" style="text-align: left;" life="2000"/>
			
                <p:panel id="basic" header="" footer="" toggleable="false">
	                <f:facet name="header">
					  <h:panelGrid columns="2">
					    <span class="ui-icon ui-icon-apps" />
					    <h:outputText value="#{bundle.createTdsSpecOption}" style="font-weight:bold;text-transform: uppercase" />
					  </h:panelGrid>
					</f:facet>
					
	                <f:facet name="footer">
		    			<p:commandButton id="btSave" action="#{createTdsSpecOptionBean.save}" value="#{bundle.save}" ajax="true" icon="ui-icon-save" styleClass="green-btn flat" update=":frmCreate" process="@form"/>
	        			<p:spacer width="8" />
	        			<p:commandButton id="btBack" value="#{bundle.back}" action="#{createTdsSpecOptionBean.back}" ajax="true" icon="ui-icon-backspace" styleClass="blue-grey-btn flat" immediate="true" />
	    			</f:facet>
	    			
					<div class="row cadastro">		
						<div class="col-direita">
							<div class="row">
							
								<div class="span2 clear">
									<label for="spec" class="block"><b>#{bundle.tdsSpec}:</b></label><label class="label-required">*</label><br/>							
									<p:selectOneMenu id="spec" value="#{createTdsSpecOptionBean.tdsSpecOption.tdsSpec}" converter="tdsSpecConverter" title="#{bundle.selectSpec}" style="height:30px;" required="true" requiredMessage="#{bundle.specRequired}" >  
						            	<f:selectItem itemLabel="#{bundle.choose}" itemValue="" />  
				            			<f:selectItems var="s" itemLabel="#{s.getIntName()}" itemValue="#{s}" value="#{createTdsSpecOptionBean.tdsSpecs}"  />
										<p:ajax event="change" update=":frmCreate" process="@this" />
					        		</p:selectOneMenu>						
								</div>
							
								<div class="span2 clear">
									<label for="name"><b>#{bundle.name}:</b></label><label class="label-required">*</label>
									<p:inputText styleClass="block" style="width:380px;" disabled="#{createTdsSpecOptionBean.tdsSpecOption.tdsSpec eq null}" id="name" required="true" requiredMessage="#{bundle.nameRequired}" title="#{bundle.name}" maxlength="120" value="#{createTdsSpecOptionBean.tdsSpecOption.name}" size="30"/>
								</div>
								
								<div class="span2 clear">
									<label for="nameEn"><b>#{bundle.nameEn}:</b></label><label class="label-required">*</label>
									<p:inputText styleClass="block" style="width:380px;" id="nameEn" required="true" requiredMessage="#{bundle.nameEnRequired}" disabled="#{createTdsSpecOptionBean.tdsSpecOption.tdsSpec eq null}" title="#{bundle.nameEn}" maxlength="120" value="#{createTdsSpecOptionBean.tdsSpecOption.nameEn}" size="30"/>
								</div>
								
								<div class="span2 clear">
									<label for="nameCn"><b>#{bundle.nameCn}:</b></label>
									<p:inputText styleClass="block" style="width:380px;" id="nameCn" disabled="#{createTdsSpecOptionBean.tdsSpecOption.tdsSpec eq null}" title="#{bundle.nameCn}" maxlength="120" value="#{createTdsSpecOptionBean.tdsSpecOption.nameCn}" size="30"/>
								</div>								
		
								<div class="span2 clear">
									<p:outputPanel id="panel">
										<label><b>#{bundle.identifier}:</b></label><label class="label-required">*</label>
										<p:inputText id="identifier" styleClass="block" style="#{createTdsSpecOptionBean.validateIdentifier eq null ? 'width:380px;' : (createTdsSpecOptionBean.validateIdentifier ? 'border-color: green;width:380px;' : 'border-color: red;width:380px;')}" disabled="#{createTdsSpecOptionBean.tdsSpecOption.tdsSpec eq null}" required="true" requiredMessage="#{bundle.identifierRequired}" title="#{bundle.identifier}" maxlength="30" value="#{createTdsSpecOptionBean.tdsSpecOption.identifier}" size="66">
											<p:ajax event="change" update="panel" process="@this" listener="#{createTdsSpecOptionBean.checkIdentifier}" />
										</p:inputText>
									</p:outputPanel>
								</div>
		
								<div class="span2 clear">
									<label for="description"><b>#{bundle.description}:</b></label>
									<p:inputText styleClass="block" style="width:380px;" id="description" disabled="#{createTdsSpecOptionBean.tdsSpecOption.tdsSpec eq null}" title="#{bundle.description}" maxlength="255" value="#{createTdsSpecOptionBean.tdsSpecOption.description}" size="66"/>
								</div>
		
							</div>
						</div>
					</div>	    			
	    			
                </p:panel>
		</h:form>
	</ui:define>
</ui:composition>
