<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/template.xhtml"
		xmlns="http://www.w3.org/1999/xhtml"     
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:c="http://java.sun.com/jsp/jstl/core"
	  	xmlns:p="http://primefaces.org/ui" >
		
	<ui:define name="content">
		
		<f:metadata>
		   <f:event type="preRenderView" listener="#{createConfigBean.loadInit}" />	
		</f:metadata>			
		
		<h:form id="frmCreateConfig" styleClass="forms box-border" prependId="false">
		
			<p:growl id="msg" showDetail="false" autoUpdate="true" sticky="false" escape="true" style="text-align: left;" life="2000"/>  

                <p:panel id="basic" header="" footer="" toggleable="false">
	                <f:facet name="header">
					  <h:panelGrid columns="2">
					    <span class="ui-icon ui-icon-apps" />
					    <h:outputText value="#{bundle.createConfig}" style="font-weight:bold;text-transform: uppercase" />
					  </h:panelGrid>
					</f:facet>
					
	                <f:facet name="footer">
						<p:commandButton id="btSave" action="#{createConfigBean.save}" value="#{bundle.save}" ajax="true" icon="ui-icon-save" styleClass="green-btn flat" update=":frmCreateConfig" process="@form"/>
	        			<p:spacer width="8" />
						<p:commandButton id="btBack" value="#{bundle.back}" action="#{createConfigBean.back}" ajax="true" icon="ui-icon-backspace" styleClass="blue-grey-btn flat" immediate="true" />
	    			</f:facet>


					<div class="table-data">
						<div class="span2 clear">
							<h:panelGrid columns="5" styleClass="dgNoBorder" role="presentation">
		  				  		<h:outputText style="font-weight: bold;margin-top: 5px;" value="#{bundle.configType}:" />
		  						<p:selectOneRadio id="configType" value="#{createConfigBean.config.state}" style="font-weight: bold;">
						            <f:selectItem itemLabel="#{bundle.able}" itemValue="a" />
						            <f:selectItem itemLabel="#{bundle.unable}" itemValue="u" />
						        </p:selectOneRadio>
						        <p:spacer width="20" ></p:spacer>
		  				  		<h:outputText style="font-weight: bold;margin-top: 5px;" value="#{bundle.stateModified}:" />
		  				  		<h:outputText value="#{createConfigBean.config.stateModified}" > 
						            	<f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" locale="#{localeBean.appLocale}"/>
		  				  		</h:outputText>
					        </h:panelGrid>
						
							<h:panelGrid columns="10" id="panelCopy" styleClass="dgNoBorder" role="presentation">
		  				  		<h:outputText style="font-weight: bold;margin-top: 5px;" value="#{bundle.tds}:" />
		  				  		<p:selectOneMenu id="tds" value="#{createConfigBean.config.tds}" converter="tdsConverter" panelStyle="width:180px" disabled="#{createConfigBean.operation ne 'NEW'}" required="true" requiredMessage="#{bundle.tdsRequired}"
						                         var="t" style="width:160px;vertical-align: bottom;" filter="true" filterMatchMode="startsWith">
						            <f:selectItem itemLabel="#{bundle.choiceTDS}" itemValue="" />
						            <f:selectItems var="t" itemLabel="#{t.identifier}" itemValue="#{t}" value="#{createConfigBean.tds}"/>
									<p:ajax update="panelCopy" listener="#{createConfigBean.loadSchema}" process="@this" />				            
									<p:column>
						                <h:outputText value="#{t.identifier}" />
						            </p:column>
						        </p:selectOneMenu>
								<p:commandButton id="btPopUp" icon="fa fa-search" type="button" onclick="PF('dlgTDS').show();" />
						        <p:spacer width="20" ></p:spacer>
		  				  		<h:outputText style="font-weight: bold;" value="#{bundle.stateIdentifier}:"/>    
								<p:selectOneMenu value="#{createConfigBean.stateSelect}" title="#{bundle.selectState}" style="width:160px;vertical-align: bottom;">  
			            			<f:selectItems var="s" itemLabel="#{s.name}" itemValue="#{s}" value="#{createConfigBean.states}"/>
				        		</p:selectOneMenu>
						        <p:spacer width="20" ></p:spacer>
		  				  		<h:outputText style="font-weight: bold;" value="#{bundle.copyConfig}" rendered="#{createConfigBean.config.tds ne null}"/>    
								<p:selectOneMenu id="copyTds"  value="#{createConfigBean.configSelect}" title="#{bundle.selectTds}" style="width:160px;vertical-align: bottom;" converter="configConverter" rendered="#{createConfigBean.config.tds ne null}">  
					            	<f:selectItem itemLabel="#{bundle.chooseConfig}" itemValue="" />  
			            			<f:selectItems var="config" itemLabel="#{config.tds.identifier}" itemValue="#{config}" value="#{createConfigBean.configs}"/>
									<p:ajax process="@this" />
				        		</p:selectOneMenu>
				        		<p:commandButton id="btCopy" action="#{createConfigBean.copyConfig}" icon="fa fa-files-o" update="tabs" rendered="#{createConfigBean.config.tds ne null}" >
									<p:confirm header="#{bundle.copyConfig}" message="#{bundle.confirmCopyConfig}" icon="ui-icon-alert" />
				        		</p:commandButton>
							</h:panelGrid>
							<h:panelGrid id="tabs" columns="2" style="width:100%;text-align: left;">
							    <p:tabView id="viewTab1" cache="true">
							        <p:tab id="tabDataSheet" title="#{bundle.fichaTecnica}" titleStyle="text-align: left;">
										<p:scrollPanel id="viewTab1" mode="native" style="height:549px;border:none;">
											<p:tree value="#{createConfigBean.root}" var="node" style="width:100%;border:none;">
										        <p:treeNode>
										        	<p:selectBooleanCheckbox value="#{node.checked}">
										        		<p:ajax update="tabs" listener="#{createConfigBean.checkSpec(node)}" ajax="true" process="@this viewTab2" />
										        	</p:selectBooleanCheckbox>	
										        	<p:commandLink id="cmdItem" update="viewTab2" process="@this" ajax="true" action="#{createConfigBean.itemSelected(node)}" rendered="#{node.isItem}" style="margin-left:4px;">
												        <h:outputText value="#{node.title}" />
												    </p:commandLink>
										        	<p:commandLink id="cmdItemCommand" update="viewTab2" process="@this" ajax="true" action="#{createConfigBean.itemCommandSelected(node)}" rendered="#{!node.isItem}" style="margin-left:4px;">
														<h:outputText value="#{node.title}" style="margin-left:4px"/>
												    </p:commandLink>
													<p:graphicImage value="/img/checked.png"  rendered="#{node.rulesInformed}" width="24" height="16" style="vertical-align: bottom;padding-bottom: 5px;"/>
										        </p:treeNode>
										    </p:tree>
									    </p:scrollPanel>
							        </p:tab>
							    </p:tabView>
							    <p:tabView id="viewTab2" cache="false" activeIndex="#{createConfigBean.tabindex}" styleClass="dgNoBorder">
							        <p:tab id="tabStart" title="#{bundle.rulesTab}" style="width:100%" titleStyle="text-align: left;" styleClass="dgNoBorder" rendered="#{createConfigBean.itemSelect eq null}">
										<h:panelGrid columns="1" cellpadding="10" style="height:450px;width:100%">
											<h:outputText value="#{bundle.noItem}" />
							            </h:panelGrid>
									</p:tab>			
							        <p:tab id="tabRules" title="#{bundle.rulesTab}" titleStyle="text-align: left;" styleClass="dgNoBorder" rendered="#{createConfigBean.itemSelect ne null}">
										<h:outputText value="#{createConfigBean.itemSelect.title}" style="background-color:yellow;font-weight: bold;margin-left:4px"/>
										<p:tree value="#{createConfigBean.ruleRoot}" var="rule" style="width:100%;border:none;">
									        <p:treeNode>
									        	<p:selectBooleanCheckbox value="#{rule.check}" rendered="#{rule.isNode}">
									        		<p:ajax update="viewTab2" listener="#{createConfigBean.checkRule(rule)}" ajax="true" process="@this" />
									        	</p:selectBooleanCheckbox>	
												<h:outputText value="#{rule.name}" style="margin-left:4px"/>
												<p:spacer width="8" />
												<p:inputText value="#{rule.text}" size="10" rendered="#{rule.isInput}" maxlength="255" style="line-height: 12px;" > 
								            		<p:ajax process="@this" />
								            	</p:inputText> 
									        </p:treeNode>
									    </p:tree>
				 				    </p:tab>
							        <p:tab id="tabCommand" title="#{bundle.commandTab}" titleStyle="text-align: left;">
							            <h:panelGrid columns="2" cellpadding="10" styleClass="dgCommand"  >
							            	<p:outputPanel>
											 	<h3>#{bundle.typeCommand}</h3>
											    <p:outputPanel id="customPanel" style="margin-top:20px;margin-left:20px;margin-bottom:10px;width:100%">
											        <p:selectOneRadio id="customRadio" value="#{createConfigBean.tbMeterCommand.type}" layout="custom" >
											            <f:selectItem itemLabel="#{bundle.integration}" itemValue="i" />
											            <f:selectItem itemLabel="#{bundle.manual}" itemValue="m" />
											            <f:selectItem itemLabel="#{bundle.especial}" itemValue="s" />
														<p:ajax update="commandIntegration commandManual commandSpecial" listener="#{createConfigBean.changeType}" ajax="true" process="@this" />
											        </p:selectOneRadio>
											        <h:panelGrid columns="2" cellpadding="5">
											            <p:radioButton id="opt1" for="customRadio" itemIndex="0" />
											            <h:outputLabel for="opt1" value="#{bundle.integration}" />
											 
											            <p:radioButton id="opt2" for="customRadio" itemIndex="1" />
											            <h:outputLabel for="opt2" value="#{bundle.manual}" />
											 
											            <p:radioButton id="opt3" for="customRadio" itemIndex="2" />
											            <h:outputLabel for="opt3" value="#{bundle.especial}" />
											        </h:panelGrid>
											    </p:outputPanel>
						        				<br />
						        				<br />
						        				<br />
						        				<br />
						        				<br />
						        				<br />
						        				<br />
										        <p:commandButton id="btAdd" actionListener="#{createConfigBean.addCommand}" value="#{bundle.add}" styleClass="btn primary" process="@form" update=":frmCreateConfig" />
											</p:outputPanel>						    			            
							            	<p:outputPanel>
												<p:fieldset style="margin-left:70px;">
												
													<p:selectBooleanCheckbox value="#{createConfigBean.bindingOption}">
														<p:ajax update="optionChosen commandIntegration commandManual commandSpecial" ajax="true" process="@this" />
										        	</p:selectBooleanCheckbox>	
													<h:outputText value="#{bundle.bindingOption}" style="margin-left:4px"/>
							        				<br />
							        				<br />
													<p:outputPanel id="optionChosen">
														<h:outputText value="#{bundle.optionChosen}:" rendered="#{createConfigBean.bindingOption}"/>
														<p:spacer width="2"/>
														<h:outputText value="#{createConfigBean.itemCommandSelect.title}" style="font-weight: bold;background-color:yellow" rendered="#{createConfigBean.bindingOption}"/>
													</p:outputPanel>
							        				<br />
				
													<p:outputPanel id="commandIntegration">
													<p:outputPanel rendered="#{createConfigBean.tbMeterCommand.type eq 'i'}">
										            <h:panelGrid columns="2" cellpadding="10" styleClass="dgCommandField"  >
													
														<h:outputText value="#{bundle.manufact}:" style="float: right;"/>
								  				  		<p:selectOneMenu value="#{createConfigBean.tbMeterCommand.manufactStep}" converter="manufactStepConverter"
												                         style="width:160px;vertical-align: bottom;" rendered="true">
												            <f:selectItem itemLabel="#{bundle.choiceManufact}" itemValue="" />
												            <f:selectItems var="m" itemLabel="#{m.name}" itemValue="#{m}" value="#{createConfigBean.listManufact}"/>
												            <p:ajax update="commandIntegration" ajax="true" process="@this" />
												        </p:selectOneMenu>
														
														<h:outputText value="#{bundle.schema}:" style="float: right;"/>
								  				  		<p:selectOneMenu value="#{createConfigBean.tbMeterCommand.mciSchemaIdentifier}" title="#{bundle.selectSchema}"
												                         style="width:160px;vertical-align: bottom;" rendered="true">
												            <f:selectItem itemLabel="#{bundle.chooseSchema}" itemValue="" />
												            <f:selectItems var="s" itemLabel="#{s.schemaName}" itemValue="#{s.schemaIdentifier}" value="#{createConfigBean.listSchemaCommand}"/>
												            <p:ajax update="commandIntegration" listener="#{createConfigBean.loadMciCommand}" ajax="true" process="@this" />
												        </p:selectOneMenu>
				
														<h:outputText value="#{bundle.wayType}:" style="float: right;"/>
														<h:inputText value="#{bundle.chooseExecutionWayW}" rendered="#{createConfigBean.bindingOption}" disabled="true"/>
								  				  		<p:selectOneMenu value="#{createConfigBean.tbMeterCommand.executionWay}" title="#{bundle.selectExecutionWay}"
												                         style="width:160px;vertical-align: bottom;" rendered="#{!createConfigBean.bindingOption}">
												            <f:selectItem itemLabel="#{bundle.chooseExecutionWay}" itemValue="" />
												            <f:selectItem itemLabel="#{bundle.chooseExecutionWayW}" itemValue="w" />
												            <f:selectItem itemLabel="#{bundle.chooseExecutionWayC}" itemValue="c" />
												            <p:ajax update="commandIntegration" listener="#{createConfigBean.loadAttribute}" ajax="true" process="@this" />
												        </p:selectOneMenu>
				
														<h:outputText value="#{bundle.command}:" style="float: right;"/>
								  				  		<p:selectOneMenu value="#{createConfigBean.tbMeterCommand.mciCommandIdentifier}" title="#{bundle.selectCommand}"
												                         style="width:160px;vertical-align: bottom;" rendered="true">
												            <f:selectItem itemLabel="#{bundle.chooseCommand}" itemValue="" />
												            <f:selectItems var="c" itemLabel="#{c.commandIdentifier}-#{c.commandNameTrunc}" itemValue="#{c.commandIdentifier}" value="#{createConfigBean.listMciCommand}"/>
												            <p:ajax update="commandIntegration" listener="#{createConfigBean.loadAttribute}" ajax="true" process="@this" />
												        </p:selectOneMenu>
				
				
														<h:outputText value="#{bundle.attribute}:" style="float: right;"/>
								  				  		<p:selectOneMenu value="#{createConfigBean.tbMeterCommand.mciAttributeIdentifier}" title="#{bundle.selectAttribute}"
												                         style="width:160px;vertical-align: bottom;" rendered="true">
												            <f:selectItem itemLabel="#{bundle.chooseAttribute}" itemValue="" />
												            <f:selectItems var="a" itemLabel="#{a.attributeName}" itemValue="#{a.attributeIdentifier}" value="#{createConfigBean.listAttrib}"/>
												            <p:ajax update="commandIntegration" listener="#{createConfigBean.loadValue}" ajax="true" process="@this" />
												        </p:selectOneMenu>
														
														<h:outputText value="#{bundle.value}:" style="float: right;"/>
								  				  		<p:selectOneMenu value="#{createConfigBean.tbMeterCommand.mciAtributeValue}" title="#{bundle.selectValue}"
												                         style="width:160px;vertical-align: bottom;" disabled="#{createConfigBean.listValue eq null}">
												            <f:selectItem itemLabel="#{bundle.chooseValue}" itemValue="" />
												            <f:selectItems var="v" itemLabel="#{v.entryName}" itemValue="#{v.entryIdentifier}" value="#{createConfigBean.listValue}"/>
												        </p:selectOneMenu>
				
														<h:outputText value="#{bundle.waitTime}:" style="float: right;"/>
														<p:inputNumber size="10"  value="#{createConfigBean.tbMeterCommand.waitTime}" decimalPlaces="0" emptyValue="100" minValue="0" maxValue="300000"/>
														<h:outputText value="#{bundle.observation}:" style="float: right;"/>
														<p:inputText value="#{createConfigBean.tbMeterCommand.remark}" maxlength="8000" size="10"/>
														<h:outputText value="#{bundle.executionOrder}:" style="float: right;"/>
														<p:inputNumber id="order" value="#{createConfigBean.tbMeterCommand.executionOrder}" size="10" decimalPlaces="0" emptyValue="0" minValue="0" disabled="#{createConfigBean.tbMeterCommand.manufactStep eq null or createConfigBean.tbMeterCommand.manufactStep.name eq 'Generic'}" />
														<h:outputText value="#{bundle.hint}:" style="float: right;"/>
														<p:inputText value="#{createConfigBean.tbMeterCommand.hint}" size="40" maxlength="120"/>
														
										            </h:panelGrid>
											        </p:outputPanel>
											        </p:outputPanel>
													<p:outputPanel id="commandManual">
													<p:outputPanel rendered="#{createConfigBean.tbMeterCommand.type eq 'm'}">
										            <h:panelGrid columns="2" cellpadding="10" styleClass="dgCommandField"  >
													
														<h:outputText value="#{bundle.manufact}:" style="float: right;"/>
								  				  		<p:selectOneMenu value="#{createConfigBean.tbMeterCommand.manufactStep}" converter="manufactStepConverter" panelStyle="width:180px" 
												                         style="width:160px;vertical-align: bottom;" rendered="true">
												            <f:selectItem itemLabel="#{bundle.choiceManufact}" itemValue="" />
												            <f:selectItems var="m" itemLabel="#{m.name}" itemValue="#{m}" value="#{createConfigBean.listManufact}"/>
												            <p:ajax update="commandManual" ajax="true" process="@this" />
												        </p:selectOneMenu>
														
														<h:outputText value="#{bundle.idCommand}:" style="float: right;"/>
														<p:inputText value="#{createConfigBean.tbMeterCommand.identifier}" maxlength="255" size="10" />
				
														<h:outputText value="#{bundle.description}:" style="float: right;"/>
														<p:inputText value="#{createConfigBean.tbMeterCommand.title}" size="10" maxlength="255"/>
				
														<h:outputText value="#{bundle.wayType}:" style="float: right;"/>
														<h:inputText value="#{bundle.chooseExecutionWayW}" rendered="#{createConfigBean.bindingOption}" disabled="true"/>
								  				  		<p:selectOneMenu value="#{createConfigBean.tbMeterCommand.executionWay}" title="#{bundle.selectExecutionWay}"
												                         style="width:160px;vertical-align: bottom;" rendered="#{!createConfigBean.bindingOption}">
												            <f:selectItem itemLabel="#{bundle.chooseExecutionWay}" itemValue="" />
												            <f:selectItem itemLabel="#{bundle.chooseExecutionWayW}" itemValue="w" />
												            <f:selectItem itemLabel="#{bundle.chooseExecutionWayC}" itemValue="c" />
												        </p:selectOneMenu>
				
														<h:outputText value="#{bundle.writeData}:" style="float: right;"/>
														<p:inputText value="#{createConfigBean.tbMeterCommand.dataValue}" maxlength="8000" size="10"/>
				
														<h:outputText value="#{bundle.waitTime}:" style="float: right;"/>
														<p:inputNumber size="10"  value="#{createConfigBean.tbMeterCommand.waitTime}" decimalPlaces="0" emptyValue="100" minValue="0" maxValue="300000"/>
				
														<h:outputText value="#{bundle.observation}:" style="float: right;"/>
														<p:inputText value="#{createConfigBean.tbMeterCommand.remark}" maxlength="8000" size="10"/>
				
														<h:outputText value="#{bundle.executionOrder}:" style="float: right;"/>
														<p:inputNumber value="#{createConfigBean.tbMeterCommand.executionOrder}" size="10" decimalPlaces="0" emptyValue="0" minValue="0" disabled="#{createConfigBean.tbMeterCommand.manufactStep eq null or createConfigBean.tbMeterCommand.manufactStep.name eq 'Generic'}" />
				
														<h:outputText value="#{bundle.hint}:" style="float: right;"/>
														<p:inputText value="#{createConfigBean.tbMeterCommand.hint}" size="40" maxlength="120"/>
										            </h:panelGrid>									
											        </p:outputPanel>
											        </p:outputPanel>
													<p:outputPanel id="commandSpecial">
													<p:outputPanel rendered="#{createConfigBean.tbMeterCommand.type eq 's'}">
										            <h:panelGrid columns="2" cellpadding="10" styleClass="dgCommandField"  >
													
														<h:outputText value="#{bundle.manufact}:" style="float: right;"/>
								  				  		<p:selectOneMenu value="#{createConfigBean.tbMeterCommand.manufactStep}" converter="manufactStepConverter" panelStyle="width:180px" 
												                         style="width:160px;vertical-align: bottom;" rendered="true">
												            <f:selectItem itemLabel="#{bundle.choiceManufact}" itemValue="" />
												            <f:selectItems var="m" itemLabel="#{m.name}" itemValue="#{m}" value="#{createConfigBean.listManufact}"/>
												            <p:ajax update="commandSpecial" ajax="true" process="@this" />
												        </p:selectOneMenu>
														
														<h:outputText value="#{bundle.command}:" style="float: right;"/>
								  				  		<p:selectOneMenu id="command" value="#{createConfigBean.vwSpecialCommandSelect}" converter="vwSpecialCommandConverter" title="#{bundle.selectCommand}"
												                         style="width:160px;vertical-align: bottom;" rendered="true">
												            <f:selectItem itemLabel="#{bundle.chooseCommand}" itemValue="" />
												            <f:selectItems var="s" itemLabel="#{s.description}" itemValue="#{s}" value="#{createConfigBean.listSpecialCommand}"/>
												            <p:ajax update="commandSpecial" listener="#{createConfigBean.fillCommand}" ajax="true" process="@this" />
												        </p:selectOneMenu>
				
														<h:outputText value="#{bundle.wayType}:" style="float: right;"/>
														<h:inputText value="#{bundle.chooseExecutionWayW}" rendered="true" disabled="true"/>
				
														<h:outputText value="#{bundle.writeData}:" style="float: right;"/>
														<p:inputText value="#{createConfigBean.tbMeterCommand.dataValue}" maxlength="8000" size="10" disabled="true"/>
				
														<h:outputText value="#{bundle.waitTime}:" style="float: right;"/>
														<p:inputNumber size="10"  value="#{createConfigBean.tbMeterCommand.waitTime}" decimalPlaces="0" disabled="true"/>
				
														<h:outputText value="#{bundle.observation}:" style="float: right;"/>
														<p:inputText value="#{createConfigBean.tbMeterCommand.remark}" maxlength="8000" size="10" disabled="true"/>
				
														<h:outputText value="#{bundle.executionOrder}:" style="float: right;"/>
														<p:inputNumber value="#{createConfigBean.tbMeterCommand.executionOrder}" size="10" decimalPlaces="0" emptyValue="0" minValue="0" disabled="#{createConfigBean.tbMeterCommand.manufactStep eq null or createConfigBean.tbMeterCommand.manufactStep.name eq 'Generic'}" />
															
														<h:outputText value="#{bundle.hint}:" style="float: right;"/>
														<p:inputText value="#{createConfigBean.tbMeterCommand.hint}" size="40" maxlength="120"/>
										            </h:panelGrid>									
											        </p:outputPanel>
											        </p:outputPanel>
												</p:fieldset>
											</p:outputPanel>
							            </h:panelGrid>
										<p:fieldset legend="#{bundle.listOfCommands}" >
											<p:selectOneRadio id="customRadio2" value="#{createConfigBean.filterAllCommand}" layout="custom">
									            <f:selectItem itemLabel="#{bundle.showAll}" itemValue="true" />
									            <f:selectItem itemLabel="#{bundle.showOne}" itemValue="false" />
												<p:ajax update="view msg" listener="#{createConfigBean.filterCommand}" ajax="true" process="@this" />
									        </p:selectOneRadio>
									        <h:panelGrid columns="2" cellpadding="5">
									        	<p:outputPanel>
											        <h:panelGrid columns="2" cellpadding="5">
											            <p:radioButton id="opt11" for="customRadio2" itemIndex="0" />
											            <h:outputLabel for="opt11" value="#{bundle.showAll}" />
											        </h:panelGrid>
									 			</p:outputPanel>
									        	<p:outputPanel>
											        <h:panelGrid columns="2" cellpadding="5">
											            <p:radioButton id="opt22" for="customRadio2" itemIndex="1" />
											            <h:outputLabel for="opt22" value="#{bundle.showOne}" />
											        </h:panelGrid>
									 			</p:outputPanel>
									        </h:panelGrid>
									        <br/>
											<p:outputPanel id="view">
												<p:dataTable var="c" value="#{createConfigBean.listCommand}" emptyMessage="#{bundle.commandNotExists}" 
													scrollable="true" scrollWidth="100%" rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}">
							
											        <p:column headerText="#{bundle.options}" style="width:70px" styleClass="ui_botoes_grid"> 
							  				            <p:commandButton icon="fa fa-trash" actionListener="#{createConfigBean.remove(c)}" title="#{bundle.removeCommand}" update=":frmCreateConfig"> 
							  				             	<p:confirm header="#{bundle.removeCommand}" message="#{bundle.confirmRemoveCommand}" icon="ui-icon-alert" />
											            </p:commandButton>  				         
											        </p:column>  
				
											        <p:column headerText="#{bundle.manufact}" style="width:120px;text-align: left;">  
											            <h:outputText value="#{c.manufactStep.name}" />  
											        </p:column>  
											        
											        <p:column headerText="#{bundle.origin}" style="width:160px;text-align: left;">  
											            <h:outputText value="#{c.typeName}" /> 
											        </p:column>
							
											        <p:column headerText="#{bundle.wayType}" style="width:100px;text-align: left;">  
											            <h:outputText value="#{bundle.chooseExecutionWayW}" rendered="#{c.executionWay eq 'w'}"/> 
											            <h:outputText value="#{bundle.chooseExecutionWayC}" rendered="#{c.executionWay eq 'c'}"/> 
											        </p:column>
				
											        <p:column headerText="#{bundle.command}" style="width:150px;text-align: left;">  
											            <h:outputText value="#{c.commandName}" />  
											        </p:column>
							
											        <p:column headerText="#{bundle.writeData}" style="width:200px;text-align: left;">  
											            <h:outputText value="#{c.dataValue}" /> 
											        </p:column>
				
											        <p:column headerText="#{bundle.dataLen}" style="width:70px;text-align: left;">  
											            <h:outputText value="#{c.dataLength}" /> 
											        </p:column>
				
											        <p:column headerText="#{bundle.binding}" style="width:80px;text-align: left;">  
														<h:outputText value="#{bundle.trueCode}" rendered="#{c.specOptionName ne null}" />  
														<h:outputText value="#{bundle.falseCode}" rendered="#{c.specOptionName eq null}" />  
											        </p:column>
				
											        <p:column headerText="#{bundle.optionChosen}" style="width:140px;text-align: left;">  
														<h:outputText value="#{c.specOptionName}" />   
											        </p:column>
				
											        <p:column headerText="#{bundle.schema}" style="width:100px;text-align: left;">  
											            <h:outputText value="#{c.mciSchemaIdentifier}" /> 
											        </p:column>
							
				<!-- 							        <p:column headerText="#{bundle.commandMCI}" style="width:150px;text-align: left;">   -->
				<!-- 							            <h:outputText value="#{c.commandName}" />   -->
				<!-- 							        </p:column> -->
				
											        <p:column headerText="#{bundle.attr}" style="width:100px;text-align: left;">  
											            <h:outputText value="#{c.attributeName}" /> 
											        </p:column>
				
											        <p:column headerText="#{bundle.value}" style="width:100px;text-align: left;">  
											            <h:outputText value="#{c.valueName}" />  
											        </p:column>
							
											        <p:column headerText="#{bundle.wait}" style="width:60px;text-align: left;">  
											            <h:outputText value="#{c.waitTime}" />  
											        </p:column>
				
											        <p:column headerText="#{bundle.observation}" style="width:150px;text-align: left;">  
											            <h:outputText value="#{c.remark}" />  
											        </p:column>
				
											        <p:column headerText="#{bundle.execOrder}" style="width:60px;text-align: left;">  
											            <h:outputText value="#{c.executionOrder}" />  
											        </p:column>
				
											        <p:column headerText="#{bundle.hint}" style="width:250px;text-align: left;">  
														<h:outputText value="#{c.hintTruncate}" rendered="#{c.hint ne null}" title="#{c.hint}" />  
											        </p:column>
				
												</p:dataTable>
											</p:outputPanel>	
										</p:fieldset>
							        </p:tab>
							    </p:tabView>
							</h:panelGrid>
						</div>
					</div>
            </p:panel>
					
			<p:dialog id="dlgTDS" header="#{bundle.searchTds}" widgetVar="dlgTDS" showEffect="explode" hideEffect="explode" height="500" width="600">
				<div class="table-data">
					<div class="span2 clear">
						<p:fieldset id="fieldsetSearch" legend="#{bundle.filters}" toggleable="true" toggleSpeed="500">
	  				  		<h:outputText value="#{bundle.meterModel}:" />  
							<h:selectOneMenu id="model" value="#{createConfigBean.tdsFilter.meterModel}" style="height:30px;" converter="meterModelConverter" title="#{bundle.selectMeterModelFilter}">  
				            	<f:selectItem itemLabel="#{bundle.all}" itemValue="" />  
		            			<f:selectItems var="m" itemLabel="#{m.name}" itemValue="#{m}" value="#{createConfigBean.models}"  />
							</h:selectOneMenu>							
							<p:spacer width="8" />
	
							<h:outputText value="#{bundle.identifier}:" />
							<h:inputText id="identifierFilter" value="#{createConfigBean.tdsFilter.identifier}" />
							<p:spacer width="8" />
							
							<p:commandButton id="btSearch" icon="fa fa-search" actionListener="#{createConfigBean.search}" title="#{bundle.find}" update="view" process="fieldsetSearch"/>
						</p:fieldset>
					</div>
					<br />
					<p:outputPanel id="view">
						<p:dataTable var="t" value="#{createConfigBean.tdsSearch}" emptyMessage="#{bundle.tdsNotExists}" 
							paginator="true" rows="9" lazy="true" currentPageReportTemplate="#{bundle.totalRecords}: {totalRecords},  #{bundle.pages}: {currentPage} #{bundle.of} {totalPages}"
							paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"							
							rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}"
	                 		rowsPerPageTemplate="20,5,10,15,40">
	
							<p:column headerText="#{bundle.select}" style="width:10%" styleClass="ui_botoes_grid"> 
								<p:commandButton icon="fa fa-circle-o" oncomplete="PF('dlgTDS').hide();" process="@this" update="tds panelCopy" >  
					                <f:setPropertyActionListener value="#{t}" target="#{createConfigBean.config.tds}" />  
					            </p:commandButton>  				         
							</p:column>
	
					        <p:column sortBy="#{bundle.identifier}" headerText="#{bundle.identifier}" style="width:30%;text-align: left;">  
					            <h:outputText value="#{t.identifier}" />  
					        </p:column>  
					        
					        <p:column sortBy="#{bundle.meterModel}" headerText="#{bundle.meterModel}" style="width:50%;text-align: left;">  
					            <h:outputText value="#{t.meterModel.name}" />  
					        </p:column>
						</p:dataTable>
					</p:outputPanel>	
				</div>
			</p:dialog>
			<p:confirmDialog global="true" showEffect="fade" hideEffect="fade" widgetVar="confirmDlg">
				<p:commandButton update=":frmCreateConfig" value="#{bundle.yes}" type="button" styleClass="btn success ui-confirmdialog-yes" icon="ui-icon-check"/>
				<p:commandButton value="#{bundle.no}" type="button" styleClass="btn cancel ui-confirmdialog-no" icon="ui-icon-close"/>
			</p:confirmDialog>		
			<p:dialog id="showHint" header="#{bundle.hint}" widgetVar="showHint" modal="true" width="690" height="200">  
		        <p:outputPanel layout="block">  
	                <p:inputTextarea value="#{createConfigBean.showHint}" cols="77" rows="10"/>  
		        </p:outputPanel>  
		    </p:dialog>	
		</h:form>
	</ui:define>
</ui:composition>