<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/template.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
 	  xmlns:c="http://java.sun.com/jsp/jstl/core"
 	  xmlns:p="http://primefaces.org/ui" >
	<ui:define name="content">
		<f:metadata>
		   <f:event type="preRenderView" listener="#{searchMeterModelsBean.loadInit}" />	
		</f:metadata>
		
		<h:form id="frmSearchMeterModels" prependId="false">
		
			<p:growl id="msg" showDetail="false" autoUpdate="true" sticky="false" escape="true" style="text-align: left;" life="2000"/>
			
				<p:panel id="basic" header="" footer="" toggleable="false">
                	 
	                <f:facet name="header">
					  <h:panelGrid columns="2">
					    <span class="ui-icon ui-icon-apps" />
					    <h:outputText value="#{bundle.searchMeterModels}" style="font-weight:bold;text-transform: uppercase" />
					  </h:panelGrid>
					</f:facet>
 
	                <f:facet name="footer">
						<p:outputPanel id="view">
							<p:dataTable var="m" value="#{searchMeterModelsBean.meterModels}" emptyMessage="#{bundle.meterModelNotExists}" 
								paginator="true" rows="10" lazy="true" currentPageReportTemplate="#{bundle.totalRecords}: {totalRecords},  #{bundle.pages}: {currentPage} #{bundle.of} {totalPages}"
								paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"							
								rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}"
		                 		rowsPerPageTemplate="5,10,15,20,40">
		
						        <p:column sortBy="#{m.identifie}" headerText="#{bundle.identifier}" style="width:20%;text-align: left;">  
						            <h:outputText value="#{m.identifier}" />  
						        </p:column>  
		
						        <p:column sortBy="#{m.name}" headerText="#{bundle.name}" style="width:53%;text-align: left;">  
						            <h:outputText value="#{m.name}" />  
						        </p:column>
						        
						        <p:column sortBy="#{m.description}" headerText="#{bundle.description}" style="width:53%;text-align: left;">  
						            <h:outputText value="#{m.description}" />  
						        </p:column>
		
						        <p:column sortBy="#{m.meterLine}" headerText="#{bundle.meterLine}" style="width:53%;text-align: left;">  
						            <h:outputText value="#{m.meterLine.name}" />  
						        </p:column>
		
						        <p:column headerText="#{bundle.options}" style="width:15%" styleClass="ui_botoes_grid"> 
						            <p:commandButton id="changeModelBt" icon="fa fa-edit" action="#{searchMeterModelsBean.register}" title="#{bundle.updateMeterModel}" >  
						                <f:setPropertyActionListener value="#{m}" target="#{createMeterModelBean.meterModel}" />  
						                <f:setPropertyActionListener value="UPDATE" target="#{createMeterModelBean.operation}" /> 
						                <f:setPropertyActionListener value="true" target="#{createMeterModelBean.validateIdentifier}" /> 
						            </p:commandButton >  				         
		  				            <p:commandButton id="removeModelBt" icon="fa fa-trash" actionListener="#{searchMeterModelsBean.remove(m)}" title="#{bundle.removeMeterModel}" update="view"> 
		  				             	<p:confirm header="#{bundle.removeMeterModel}" message="#{bundle.confirmRemoveMeterModel}" icon="ui-icon-alert" />
						            </p:commandButton >  				         
						        </p:column>  
							</p:dataTable>
						</p:outputPanel>	                
	    			</f:facet>
    				
					<div class="span2 clear">
						<p:fieldset id="fieldsetSearch" legend="#{bundle.filters}" toggleable="false" toggleSpeed="500">
	
	  				  		<h:outputText value="#{bundle.meterLine}:" />  
							<p:selectOneMenu id="line" value="#{searchMeterModelsBean.meterModelFilter.meterLine}" style="height:30px;" converter="meterLineConverter" title="#{bundle.selectMeterLineFilter}">  
				            	<f:selectItem itemLabel="#{bundle.all}" itemValue="" />  
		            			<f:selectItems var="meter" itemLabel="#{meter.name}" itemValue="#{meter}" value="#{searchMeterModelsBean.meterLines}"  />
							</p:selectOneMenu>							
							<p:spacer width="8" />
	
							<h:outputText value="#{bundle.identifier}:" />
							<p:inputText id="identifierFilter" value="#{searchMeterModelsBean.meterModelFilter.identifier}" />
							<p:spacer width="8" />
							
							<h:outputText value="#{bundle.name}:" />
							<p:inputText id="nameFilter" value="#{searchMeterModelsBean.meterModelFilter.name}" />
							<p:spacer width="8" />
							
							<p:commandButton id="btSearch" icon="fa fa-search" actionListener="#{searchMeterModelsBean.search}" update="@form" />
							
							<div class="button">
								<p:commandButton id="btNew" value="#{bundle.newButton}" action="#{searchMeterModelsBean.register}" ajax="true" icon="ui-icon-add" styleClass="cyan-btn flat" >
									<f:setPropertyActionListener value="" target="#{createMeterModelBean.meterModel}" />  
		                			<f:setPropertyActionListener value="NEW" target="#{createMeterModelBean.operation}" />				                  
								</p:commandButton>
							</div>
						
						</p:fieldset>
					</div>    				
                 
                </p:panel>

				<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
					<p:commandButton value="#{bundle.yes}" type="button" styleClass="btn success ui-confirmdialog-yes" icon="ui-icon-check"/>
					<p:commandButton value="#{bundle.no}" type="button" styleClass="btn cancel ui-confirmdialog-no" icon="ui-icon-close"/>
				</p:confirmDialog>
			 			
		</h:form>
	</ui:define>
</ui:composition>
