<ui:composition template="../../WEB-INF/templates/template.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
 	  xmlns:c="http://java.sun.com/jsp/jstl/core"
 	  xmlns:p="http://primefaces.org/ui" >

	<ui:define name="content"> 	  
	    <p:panelGrid columns="1" layout="grid" style="margin-bottom:10px;margin-top:10px;">
	      <h:outputText value="#{bundle.pageUnavailable}" style="float:left" />
		</p:panelGrid>
	</ui:define>
	
</ui:composition>
