<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/template.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
 	  xmlns:c="http://java.sun.com/jsp/jstl/core"
 	  xmlns:p="http://primefaces.org/ui" >
	<ui:define name="content">
		<f:metadata>
		   <f:event type="preRenderView" listener="#{searchTdsSpecOptionsBean.loadInit}" />	
		</f:metadata>
		
		<h:form id="frmSearchTdsSpecOptions" prependId="false">
		
			<p:growl id="msg" showDetail="false" autoUpdate="true" sticky="false" escape="true" style="text-align: left;" life="2000"/>  

				<p:panel id="basic" header="" footer="" toggleable="false">
                	 
	                <f:facet name="header">
					  <h:panelGrid columns="2">
					    <span class="ui-icon ui-icon-apps" />
					    <h:outputText value="#{bundle.searchTdsSpecOption}" style="font-weight:bold;text-transform: uppercase" />
					  </h:panelGrid>
					</f:facet>
 
	                <f:facet name="footer">
						<p:outputPanel id="view">
							<p:dataTable id="createDataTable" var="s" value="#{searchTdsSpecOptionsBean.tdsSpecOptions}" emptyMessage="#{bundle.specOptionNotExists}" 
								paginator="true" rows="10" lazy="true" currentPageReportTemplate="#{bundle.totalRecords}: {totalRecords},  #{bundle.pages}: {currentPage} #{bundle.of} {totalPages}"
								paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"							
								rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}"
		                 		rowsPerPageTemplate="5,10,15,20,40">
		
						        <p:column sortBy="#{s.identifier}" headerText="#{bundle.identifier}" style="width:20%;text-align: left;">  
						            <h:outputText value="#{s.identifier}" />  
						        </p:column>  
		
						        <p:column sortBy="#{s.name}" headerText="#{bundle.name}" style="width:11%;text-align: left;">  
						            <h:outputText value="#{s.name}" />  
						        </p:column>

						        <p:column sortBy="#{s.nameEn}" headerText="#{bundle.nameEn}" style="width:11%;text-align: left;">  
						            <h:outputText value="#{s.nameEn}" />  
						        </p:column>

						        <p:column sortBy="#{s.nameCn}" headerText="#{bundle.nameCn}" style="width:11%;text-align: left;">  
						            <h:outputText value="#{s.nameCn}" />  
						        </p:column>
						        
						        <p:column sortBy="#{s.description}" headerText="#{bundle.description}" style="width:20%;text-align: left;">  
						            <h:outputText value="#{s.description}" />  
						        </p:column>
		
						        <p:column sortBy="#{s.tdsSpec}" headerText="#{bundle.tdsSpec}" style="width:20%;text-align: left;">  
						            <h:outputText value="#{s.tdsSpec.getIntName()}" />  
						        </p:column>
		
						        <p:column headerText="#{bundle.options}" style="width:7%" styleClass="ui_botoes_grid"> 
						            <p:commandButton icon="fa fa-edit" action="#{searchTdsSpecOptionsBean.register}" title="#{bundle.updateSpecOption}" >  
						                <f:setPropertyActionListener value="#{s}" target="#{createTdsSpecOptionBean.tdsSpecOption}" />  
						                <f:setPropertyActionListener value="UPDATE" target="#{createTdsSpecOptionBean.operation}" />  
						                <f:setPropertyActionListener value="true" target="#{createTdsSpecOptionBean.validateIdentifier}" />  
						            </p:commandButton>  				         
		  				            <p:commandButton icon="fa fa-trash" actionListener="#{searchTdsSpecOptionsBean.remove(s)}" title="#{bundle.removeSpecOption}" update="view"> 
		  				             	<p:confirm header="#{bundle.removeSpecOption}" message="#{bundle.confirmRemoveSpecOption}" icon="ui-icon-alert" />
						            </p:commandButton>  				         
						        </p:column>  
							</p:dataTable>
						</p:outputPanel>	
	    			</f:facet>
    				
					<p:fieldset id="fieldsetSearch" legend="#{bundle.filters}" toggleable="false" toggleSpeed="500">
  				  		<h:outputText value="#{bundle.spec}:" />  
						<h:selectOneMenu id="spec" value="#{searchTdsSpecOptionsBean.tdsSpecOptionFilter.tdsSpec}" style="height:30px;" converter="tdsSpecConverter" title="#{bundle.selectSpecFilter}">  
			            	<f:selectItem itemLabel="#{bundle.all}" itemValue="" />  
	            			<f:selectItems var="c" itemLabel="#{c.getIntName()}" itemValue="#{c}" value="#{searchTdsSpecOptionsBean.tdsSpecs}"  />
						</h:selectOneMenu>							
						<p:spacer width="8" />

						<h:outputText value="#{bundle.name}:" />
						<h:inputText id="nameFilter" value="#{searchTdsSpecOptionsBean.tdsSpecOptionFilter.name}" />
						<p:spacer width="8" />
						
						<p:commandButton id="btSearch" icon="fa fa-search" actionListener="#{searchTdsSpecOptionsBean.search}" title="#{bundle.find}" update="@form" />
						
						<div class="button">
							<p:commandButton id="btNew" value="#{bundle.newButton}" action="#{searchTdsSpecOptionsBean.register}" ajax="true" icon="ui-icon-add" styleClass="cyan-btn flat" >
								<f:setPropertyActionListener value="" target="#{createTdsSpecOptionBean.tdsSpecOption}" />  
				                <f:setPropertyActionListener value="NEW" target="#{createTdsSpecOptionBean.operation}" />  			                  
							</p:commandButton>
						</div>
						
					</p:fieldset>
                 
                </p:panel>
			
				<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
					<p:commandButton value="#{bundle.yes}" type="button" styleClass="btn success ui-confirmdialog-yes" icon="ui-icon-check"/>
					<p:commandButton value="#{bundle.no}" type="button" styleClass="btn cancel ui-confirmdialog-no" icon="ui-icon-close"/>
				</p:confirmDialog>			
			
			<!-- 			
			<div class="bc cinzaclaro barra">
        		<div class="title" >
        			<h2>
						#{bundle.searchTdsSpecOptions}
        			</h2>
				</div>
				<div class="button">
					<p:commandButton id="btNew" value="#{bundle.newButton}" action="#{searchTdsSpecOptionsBean.register}" ajax="true" styleClass="btn primary">
						<f:setPropertyActionListener value="" target="#{createTdsSpecOptionBean.tdsSpecOption}" />  
		                <f:setPropertyActionListener value="NEW" target="#{createTdsSpecOptionBean.operation}" />  
					</p:commandButton>
				</div>
			</div>	
			<div class="b2"></div>
			<div class="b1"></div>
			<br />
			<br />

			<div class="table-data">
				<div class="span2 clear">
					<p:fieldset id="fieldsetSearch" legend="#{bundle.filters}" toggleable="true" toggleSpeed="500">
  				  		<h:outputText value="#{bundle.spec}:" />  
						<h:selectOneMenu id="spec" value="#{searchTdsSpecOptionsBean.tdsSpecOptionFilter.tdsSpec}" style="height:30px;" converter="tdsSpecConverter" title="#{bundle.selectSpecFilter}">  
			            	<f:selectItem itemLabel="#{bundle.all}" itemValue="" />  
	            			<f:selectItems var="c" itemLabel="#{c.name}" itemValue="#{c}" value="#{searchTdsSpecOptionsBean.tdsSpecs}"  />
						</h:selectOneMenu>							
						<p:spacer width="8" />

						<h:outputText value="#{bundle.name}:" />
						<h:inputText id="nameFilter" value="#{searchTdsSpecOptionsBean.tdsSpecOptionFilter.name}" />
						<p:spacer width="8" />
						
						<p:commandButton id="btSearch" icon="fa fa-search" actionListener="#{searchTdsSpecOptionsBean.search}" title="#{bundle.find}" update="@form" />
					</p:fieldset>
				</div>
				<br />
				<p:outputPanel id="view">
					<p:dataTable var="s" value="#{searchTdsSpecOptionsBean.tdsSpecOptions}" emptyMessage="#{bundle.specOptionNotExists}" 
						paginator="true" rows="20" lazy="true" currentPageReportTemplate="#{bundle.totalRecords}: {totalRecords},  #{bundle.pages}: {currentPage} #{bundle.of} {totalPages}"
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"							
						rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}"
                 		rowsPerPageTemplate="20,5,10,15,40">

				        <p:column sortBy="#{bundle.identifier}" headerText="#{bundle.identifier}" style="width:20%;text-align: left;">  
				            <h:outputText value="#{s.identifier}" />  
				        </p:column>  

				        <p:column sortBy="#{bundle.name}" headerText="#{bundle.name}" style="width:53%;text-align: left;">  
				            <h:outputText value="#{s.name}" />  
				        </p:column>
				        
				        <p:column sortBy="#{bundle.description}" headerText="#{bundle.description}" style="width:53%;text-align: left;">  
				            <h:outputText value="#{s.description}" />  
				        </p:column>

				        <p:column sortBy="#{bundle.spec}" headerText="#{bundle.spec}" style="width:53%;text-align: left;">  
				            <h:outputText value="#{s.tdsSpec.name}" />  
				        </p:column>

				        <p:column headerText="#{bundle.options}" style="width:15%" styleClass="ui_botoes_grid"> 
				            <p:commandButton icon="fa fa-edit" action="#{searchTdsSpecOptionsBean.register}" title="#{bundle.updateSpecOption}" >  
				                <f:setPropertyActionListener value="#{s}" target="#{createTdsSpecOptionBean.tdsSpecOption}" />  
				                <f:setPropertyActionListener value="UPDATE" target="#{createTdsSpecOptionBean.operation}" />  
				            </p:commandButton>  				         
  				            <p:commandButton icon="fa fa-trash" actionListener="#{searchTdsSpecOptionsBean.remove(s)}" title="#{bundle.removeSpecOption}" update="view"> 
  				             	<p:confirm header="#{bundle.removeSpecOption}" message="#{bundle.confirmRemoveSpecOption}" icon="ui-icon-alert" />
				            </p:commandButton>  				         
				        </p:column>  
					</p:dataTable>
				</p:outputPanel>	
			</div>
			<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
				<p:commandButton value="#{bundle.yes}" type="button" styleClass="btn success ui-confirmdialog-yes" icon="ui-icon-check"/>
				<p:commandButton value="#{bundle.no}" type="button" styleClass="btn cancel ui-confirmdialog-no" icon="ui-icon-close"/>
			</p:confirmDialog>
			-->
						
		</h:form>
	</ui:define>
</ui:composition>
