<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/template.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
 	  xmlns:c="http://java.sun.com/jsp/jstl/core"
 	  xmlns:p="http://primefaces.org/ui" >

<ui:define name="head">
   <script type="text/javascript">
	   PrimeFaces.locales['pt_BR'] = {
			    closeText: 'Fechar',
			    prevText: 'Anterior',
			    nextText: 'Próximo',
			    currentText: 'Começo',
			    monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
			    monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun', 'Jul','Ago','Set','Out','Nov','Dez'],
			    dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
			    dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb'],
			    dayNamesMin: ['D','S','T','Q','Q','S','S'],
			    weekHeader: 'Semana',
			    firstDay: 0,
			    isRTL: false,
			    showMonthAfterYear: false,
			    yearSuffix: '',
			    timeOnlyTitle: 'Só Horas',
			    timeText: 'Tempo',
			    hourText: 'Hora',
			    minuteText: 'Minuto',
			    secondText: 'Segundo',
			    ampm: false,
			    month: 'Mês',
			    week: 'Semana',
			    day: 'Dia',
			    allDayText : 'Todo o Dia'
			};   
   </script>           
</ui:define>
 	  
	<ui:define name="content">
		<f:metadata>
		   <f:event type="preRenderView" listener="#{searchMeasuringInstrumentBean.loadInit}" />	
		</f:metadata>
		
		<h:form id="frmSearchMeasuringInstrument" prependId="false">
		
			<p:growl id="msg" showDetail="false" autoUpdate="true" sticky="false" escape="true" style="text-align: left;" life="2000"/>

				<p:panel id="basic" header="" footer="" toggleable="false">
                	 
	                <f:facet name="header">
					  <h:panelGrid columns="2">
					    <span class="ui-icon ui-icon-apps" />
					    <h:outputText value="#{bundle.searchMeasuringInstrument}" style="font-weight:bold;text-transform: uppercase" />
					  </h:panelGrid>
					</f:facet>
 
	                <f:facet name="footer">
	                
						<p:outputPanel id="view">
						
							<p:dataTable var="measuringInstrumentRow" value="#{searchMeasuringInstrumentBean.measuringInstrument}" emptyMessage="#{bundle.measuringInstrumentNotExists}" 
								paginator="true" rows="50" lazy="true" currentPageReportTemplate="#{bundle.totalRecords}: {totalRecords},  #{bundle.pages}: {currentPage} #{bundle.of} {totalPages}"
								paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"							
								rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}"
		                 		rowsPerPageTemplate="10,25,50,100,500,1000">
								
						        <p:column sortBy="#{measuringInstrumentRow.id}" headerText="#{bundle.measuringInstrumentId}" style="width:4%;text-align: left;">  
						            <h:outputText value="#{measuringInstrumentRow.id}" />  
						        </p:column>
								
						        <p:column sortBy="#{measuringInstrumentRow.measuringInstrumentType}" headerText="#{bundle.measuringInstrumentType}" style="width:18%;text-align: left;">  
						            <h:outputText value="#{measuringInstrumentRow.measuringInstrumentType.name}" />  
						        </p:column>
								
						        <p:column sortBy="#{measuringInstrumentRow.measuringInstrumentModel.measuringInstrumentManufacturer.name}" headerText="#{bundle.measuringInstrumentManufacturer}" style="width:9%;text-align: left;">  
						            <h:outputText value="#{measuringInstrumentRow.measuringInstrumentModel.measuringInstrumentManufacturer.name}" />
						        </p:column>
						        
						        <p:column sortBy="#{measuringInstrumentRow.measuringInstrumentModel}" headerText="#{bundle.measuringInstrumentModel}" style="width:10%;text-align: left;">  
						            <h:outputText value="#{measuringInstrumentRow.measuringInstrumentModel.name}" />  
						        </p:column>

						        <p:column sortBy="#{measuringInstrumentRow.specificationIdentifier}" headerText="#{bundle.specificationIdentifier}" style="width:10%;text-align: left;">  
						            <h:outputText value="#{measuringInstrumentRow.specificationIdentifier}" />  
						        </p:column>  
						        
						        <p:column sortBy="#{measuringInstrumentRow.measuringInstrumentPlaceUse}" headerText="#{bundle.measuringInstrumentPlaceUse}" style="width:11%;text-align: left;">  
						            <h:outputText value="#{measuringInstrumentRow.measuringInstrumentPlaceUse.name}" />  
						        </p:column>
						        
						        <p:column sortBy="#{measuringInstrumentRow.lastCalibrationDate}" headerText="#{bundle.lastCalibrationDate}" style="width:8%;text-align: left;">  
						            <h:outputText value="#{measuringInstrumentRow.lastCalibrationDate}" > 
						            	<f:convertDateTime pattern="dd/MM/yyyy" locale="pt_BR"/>
									</h:outputText>  
						        </p:column>

						        <p:column sortBy="#{measuringInstrumentRow.calibrationFrequencyWeeks}" headerText="#{bundle.calibrationFrequencyWeeksShort}" style="width:5%;text-align: left;">  
						            <h:outputText value="#{measuringInstrumentRow.calibrationFrequencyWeeks}" />  
						        </p:column>
						        
						        <p:column sortBy="#{measuringInstrumentRow.nextCalibrationDate}" headerText="#{bundle.nextCalibrationDate}" style="width:8%;text-align: left;">  
						            <h:outputText value="#{measuringInstrumentRow.nextCalibrationDate}" > 
						            	<f:convertDateTime pattern="dd/MM/yyyy" locale="pt_BR"/>
									</h:outputText>  
						        </p:column>
						        
						        <p:column sortBy="#{measuringInstrumentRow.measuringInstrumentStateIdentifier}" headerText="#{bundle.measuringInstrumentStateIdentifier}" style="width:11%;text-align: left;">  
						            <h:outputText value="#{measuringInstrumentRow.measuringInstrumentStateIdentifier.intName}" /> 
						        </p:column>
						        
						        <!-- 
						        <p:column sortBy="#{measuringInstrumentRow.measuringInstrumentStateIdentifier}" headerText="#{bundle.measuringInstrumentStateIdentifier}" style="width:10%;text-align: center;">  
									<p:commandButton id='measuringInstrumentCollectedState' icon="fa fa-fw fa-power-off" style="color:#81c784;opacity:0.65;background-color: #81c784;" title="#{bundle.CollectedState}" rendered="#{measuringInstrumentRow.measuringInstrumentStateIdentifier.id eq 'collected'}"/>
									<p:commandButton id='measuringInstrumentInUseState' icon="fa fa-fw fa-power-off" style="color:#81c784;opacity:0.65;background-color: #81c784;" title="#{bundle.InUseState}" rendered="#{measuringInstrumentRow.measuringInstrumentStateIdentifier.id eq 'inUse'}"/>
									<p:commandButton id='measuringInstrumentRegisteredState' icon="fa fa-fw fa-power-off" style="color:#81c784;opacity:0.65;background-color: #81c784;" title="#{bundle.RegisteredState}" rendered="#{measuringInstrumentRow.measuringInstrumentStateIdentifier.id eq 'registered'}"/>
									<p:commandButton id='measuringInstrumentSentToCalibrationState' icon="fa fa-fw fa-power-off" style="color:#81c784;opacity:0.65;background-color: #81c784;" title="#{bundle.SentToCalibrationState}" rendered="#{measuringInstrumentRow.measuringInstrumentStateIdentifier.id eq 'sentToCalibration'}"/>
									<p:commandButton id='measuringInstrumentReceivedFromCalibrationState' icon="fa fa-fw fa-power-off" style="color:#81c784;opacity:0.65;background-color: #81c784;" title="#{bundle.ReceivedFromCalibrationState}" rendered="#{measuringInstrumentRow.measuringInstrumentStateIdentifier.id eq 'receivedFromCalibration'}"/>
									<p:commandButton id='measuringInstrumentDisapprovedCertificateState' icon="fa fa-fw fa-power-off" style="color:#81c784;opacity:0.65;background-color: #81c784;" title="#{bundle.DisapprovedCertificateState}" rendered="#{measuringInstrumentRow.measuringInstrumentStateIdentifier.id eq 'disapprovedCertificate'}"/>
									<p:commandButton id='measuringInstrumentApprovedCertificateState' icon="fa fa-fw fa-power-off" style="color:#81c784;opacity:0.65;background-color: #81c784;" title="#{bundle.ApprovedCertificateState}" rendered="#{measuringInstrumentRow.measuringInstrumentStateIdentifier.id eq 'approvedCertificate'}"/>
									<p:commandButton id='measuringInstrumentInRepairState' icon="fa fa-fw fa-power-off" style="color:#81c784;opacity:0.65;background-color: #81c784;" title="#{bundle.InRepairState}" rendered="#{measuringInstrumentRow.measuringInstrumentStateIdentifier.id eq 'inRepair'}"/>
									<p:commandButton id='measuringInstrumentObsoleteState' icon="fa fa-fw fa-power-off" style="color:#81c784;opacity:0.65;background-color: #81c784;" title="#{bundle.ObsoleteState}" rendered="#{measuringInstrumentRow.measuringInstrumentStateIdentifier.id eq 'obsolete'}"/>
									<p:commandButton id='measuringInstrumentDropOffState' icon="fa fa-fw fa-power-off" style="color:#81c784;opacity:0.65;background-color: #81c784;" title="#{bundle.DropOffState}" rendered="#{measuringInstrumentRow.measuringInstrumentStateIdentifier.id eq 'dropOff'}"/>
						        </p:column>
		  						-->
		  
						        <p:column headerText="#{bundle.options}" style="width:6%" styleClass="ui_botoes_grid">
						         
						            <p:commandButton id='changeMeasuringInstrumentbt' icon="fa fa-edit" action="#{searchMeasuringInstrumentBean.register}" title="#{bundle.updateMeasuringInstrument}" rendered="#{measuringInstrumentRow.measuringInstrumentStateIdentifier.id ne 'dropOff'}">  
						                <f:setPropertyActionListener value="#{measuringInstrumentRow}" target="#{createMeasuringInstrumentBean.measuringInstrument}" />  
						                <f:setPropertyActionListener value="UPDATE" target="#{createMeasuringInstrumentBean.operation}" />  
						                <f:setPropertyActionListener value="" target="#{createMeasuringInstrumentBean.filters}" />  
						                <!-- <f:setPropertyActionListener value="true" target="#{createMeasuringInstrumentBean.validateIdentifier}" /> -->  
						                <!-- <f:setPropertyActionListener value="" target="#{createMeasuringInstrumentBean.measuringInstrumentCopy}" /> -->  
						                <!-- <f:setPropertyActionListener value="" target="#{createMeasuringInstrumentBean.specOptions}" /> -->  
						                <!-- <f:setPropertyActionListener value="" target="#{createMeasuringInstrumentBean.measuringInstrumentTemplates}" /> -->  
						            </p:commandButton>
						              				         
		  				            <p:commandButton id='removeMeasuringInstrumentbt' icon="fa fa-trash" actionListener="#{searchMeasuringInstrumentBean.remove(measuringInstrumentRow)}" title="#{bundle.removeMeasuringInstrument}" update="view" rendered="#{measuringInstrumentRow.measuringInstrumentStateIdentifier.id eq 'registered'}"> 
		  				             	<p:confirm header="#{bundle.removeMeasuringInstrument}" message="#{bundle.confirmRemoveMeasuringInstrument}" icon="ui-icon-alert" />
						            </p:commandButton>
						            
						        </p:column>
						        
							</p:dataTable>
							
						</p:outputPanel>
							                
	    			</f:facet>
    				
					<div class="span2 clear">
					
						<p:fieldset id="fieldsetSearch" legend="#{bundle.filters}" toggleable="false" toggleSpeed="500">
							
							 <div>
                          		<p:panelGrid columns="6" columnClasses="ui-grid-col-2,ui-grid-col-4,ui-grid-col-2,ui-grid-col-4,ui-grid-col-2,ui-grid-col-4" layout="grid" styleClass="ui-panelgrid-blank form-group" style="border:0px none; background-color:transparent;">

									<h:outputText value="#{bundle.measuringInstrumentId}:" />  
									<p:inputText id="measuringInstrumentId" value="#{searchMeasuringInstrumentBean.measuringInstrumentFilter.id}" />  

							   		<h:outputText value="#{bundle.measuringInstrumentStateIdentifier}:" />  
									<p:selectOneMenu id="measuringInstrumentStateIdentifier" value="#{searchMeasuringInstrumentBean.measuringInstrumentFilter.measuringInstrumentStateIdentifier}" style="height:30px;" title="#{bundle.selectMeasuringInstrumentStateIdentifier}">  
						            	<f:selectItem itemLabel="#{bundle.all}" itemValue="" />  
					          			<f:selectItems var="state" itemLabel="#{state.getIntName()}" itemValue="#{state}" value="#{searchMeasuringInstrumentBean.states}"  />
						       		</p:selectOneMenu>							
									 
			  				  		<h:outputText value="#{bundle.measuringInstrumentType}:" />  
									<p:selectOneMenu id="measuringInstrumentType" value="#{searchMeasuringInstrumentBean.measuringInstrumentFilter.measuringInstrumentType}" style="height:30px;" converter="measuringInstrumentTypeConverter" title="#{bundle.selectMeasuringInstrumentType}">  
						            	<f:selectItem itemLabel="#{bundle.all}" itemValue="" />  
				            			<f:selectItems var="m" itemLabel="#{m.name}" itemValue="#{m}" value="#{searchMeasuringInstrumentBean.measuringInstrumentTypes}"  />
									</p:selectOneMenu>							

									<h:outputText value="#{bundle.specificationIdentifier}:" />  
									<p:inputText id="specificationIdentifier" value="#{searchMeasuringInstrumentBean.measuringInstrumentFilter.specificationIdentifier}" />  
									
			  				  		<h:outputText value="#{bundle.measuringInstrumentManufacturer}:" />  
									<p:selectOneMenu id="measuringInstrumentManufacturer" value="#{searchMeasuringInstrumentBean.measuringInstrumentFilter.measuringInstrumentManufacturer}" style="height:30px;" converter="measuringInstrumentManufacturerConverter" title="#{bundle.selectMeasuringInstrumentManufacturer}">  
						            	<f:selectItem itemLabel="#{bundle.all}" itemValue="" />  
				            			<f:selectItems var="m" itemLabel="#{m.name}" itemValue="#{m}" value="#{searchMeasuringInstrumentBean.measuringInstrumentManufacturers}"  />
				            			<p:ajax event="change" update="measuringInstrumentModel" process="@this" listener="#{searchMeasuringInstrumentBean.loadMeasuringInstrumentModels}" />
									</p:selectOneMenu>							
									
			  				  		<h:outputText value="#{bundle.measuringInstrumentModel}:" />  
									<p:selectOneMenu id="measuringInstrumentModel" value="#{searchMeasuringInstrumentBean.measuringInstrumentFilter.measuringInstrumentModel}" style="height:30px;" converter="measuringInstrumentModelConverter" title="#{bundle.selectMeasuringInstrumentModel}">  
						            	<f:selectItem itemLabel="#{bundle.all}" itemValue="" />  
				            			<f:selectItems var="m" itemLabel="#{m.name}" itemValue="#{m}" value="#{searchMeasuringInstrumentBean.measuringInstrumentModels}"  />
									</p:selectOneMenu>

									<h:outputText value="#{bundle.measuringInstrumentDepartment}:" />
									<p:selectOneMenu id="measuringInstrumentDepartment" value="#{searchMeasuringInstrumentBean.measuringInstrumentFilter.measuringInstrumentDepartment}" style="height:30px;" converter="measuringInstrumentDepartmentConverter" title="#{bundle.selectMeasuringInstrumentDepartment}">
										<f:selectItem itemLabel="#{bundle.all}" itemValue="" />
										<f:selectItems var="m" itemLabel="#{m.name}" itemValue="#{m}" value="#{searchMeasuringInstrumentBean.measuringInstrumentDepartments}"  />
									</p:selectOneMenu>
									
			  				  		<h:outputText value="#{bundle.measuringInstrumentPlaceUse}:" />  
									<p:selectOneMenu id="measuringInstrumentPlaceUse" value="#{searchMeasuringInstrumentBean.measuringInstrumentFilter.measuringInstrumentPlaceUse}" style="height:30px;" converter="measuringInstrumentPlaceUseConverter" title="#{bundle.selectMeasuringInstrumentPlaceUse}">  
						            	<f:selectItem itemLabel="#{bundle.all}" itemValue="" />  
				            			<f:selectItems var="m" itemLabel="#{m.name}" itemValue="#{m}" value="#{searchMeasuringInstrumentBean.measuringInstrumentPlacesUse}"  />
									</p:selectOneMenu>

							   		<h:outputText value="#{bundle.measuringInstrumentObsoleteIdentifier}:" />  
									<p:selectOneMenu id="measuringInstrumentObsoleteIdentifier" value="#{searchMeasuringInstrumentBean.measuringInstrumentFilter.measuringInstrumentObsoleteIdentifier}" style="height:30px;" title="#{bundle.selectMeasuringInstrumentObsoleteIdentifier}">  
						            	<f:selectItem itemLabel="#{bundle.all}" itemValue="" />  
					          			<f:selectItems var="obsoleteIdentifier" itemLabel="#{obsoleteIdentifier.getIntName()}" itemValue="#{obsoleteIdentifier}" value="#{searchMeasuringInstrumentBean.measuringInstrumentObsoleteIdentifiers}"  />
						       		</p:selectOneMenu>

							   		<h:outputText value="#{bundle.measuringInstrumentDamagedIdentifier}:" />  
									<p:selectOneMenu id="measuringInstrumentDamagedIdentifier" value="#{searchMeasuringInstrumentBean.measuringInstrumentFilter.measuringInstrumentDamagedIdentifier}" style="height:30px;" title="#{bundle.selectMeasuringInstrumentDamagedIdentifier}">  
						            	<f:selectItem itemLabel="#{bundle.all}" itemValue="" />  
					          			<f:selectItems var="damagedIdentifier" itemLabel="#{damagedIdentifier.getIntName()}" itemValue="#{damagedIdentifier}" value="#{searchMeasuringInstrumentBean.measuringInstrumentDamagedIdentifiers}"  />
						       		</p:selectOneMenu>
									
 									<h:outputText value="#{bundle.nextCalibrationDate}:" />
 									<h:panelGroup styleClass="md-inputfield">
 										<h:outputText value="#{bundle.nextCalibrationDateFrom}:"/>
									    <p:calendar id="measuringInstrumentNextCalibrationDateFrom" locale="pt_BR" navigator="true" pattern="dd/MM/yyyy" mindate="01/01/2000" maxdate="31/12/2099" value="#{searchMeasuringInstrumentBean.measuringInstrumentFilter.nextCalibrationDateFilterFrom}"/>
									    <h:outputText value="#{bundle.nextCalibrationDateTo}:" />
		     							<p:calendar id="measuringInstrumentNextCalibrationDateTo" locale="pt_BR" navigator="true" pattern="dd/MM/yyyy" mindate="01/01/2000" maxdate="31/12/2099" value="#{searchMeasuringInstrumentBean.measuringInstrumentFilter.nextCalibrationDateFilterTo}"/>
									</h:panelGroup>

									<h:outputText value="#{bundle.calibrationLaboratory}:" />
									<p:selectOneMenu id="measuringInstrumentLaboratory" value="#{searchMeasuringInstrumentBean.measuringInstrumentFilter.calibrationLaboratory}" style="height:30px;" converter="measuringInstrumentCalibrationLaboratoryConverter" title="#{bundle.selectMeasuringInstrumentType}">
										<f:selectItem itemLabel="#{bundle.all}" itemValue="" />
										<f:selectItems var="m" itemLabel="#{m.name}" itemValue="#{m}" value="#{searchMeasuringInstrumentBean.calibrationLaboratories}"  />
									</p:selectOneMenu>

									<h:outputText value="#{bundle.measuringInstrumentRelatedStandards}:" />
								 	<p:selectManyCheckbox id="measuringInstrumentStandard" value="#{searchMeasuringInstrumentBean.measuringInstrumentStandardsSelected}" layout="grid" columns="3" converter="measuringInstrumentStandardConverter">
								        <f:selectItems var="measuringInstrumentStandard" itemLabel="#{measuringInstrumentStandard.name}" itemValue="#{measuringInstrumentStandard}" value="#{searchMeasuringInstrumentBean.measuringInstrumentStandards}"  />
								    </p:selectManyCheckbox>
								    						       		
							 	</p:panelGrid>

						 		<div>
									<p:commandButton id="btSearch" icon="fa fa-search" actionListener="#{searchMeasuringInstrumentBean.search}" title="#{bundle.find}" update="@form" />
									<p:commandButton id="btClear" icon="fa fa-eraser" actionListener="#{searchMeasuringInstrumentBean.clear}" ajax="true" update=":@form" title="#{bundle.clear}"/>
								</div>
								
								<div class="button">
									<p:commandButton id="btNew" value="#{bundle.newButton}" action="#{searchMeasuringInstrumentBean.register}" ajax="true" icon="ui-icon-add" styleClass="cyan-btn flat" >
										<f:setPropertyActionListener value="" target="#{createMeasuringInstrumentBean.measuringInstrument}" />  
						                <f:setPropertyActionListener value="" target="#{createMeasuringInstrumentBean.filters}" />  
			                			<f:setPropertyActionListener value="NEW" target="#{createMeasuringInstrumentBean.operation}" />				                  
									</p:commandButton>
								</div>							
								
							 </div>
							 
						</p:fieldset>
					</div>
                 
                </p:panel>

				<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
					<p:commandButton value="#{bundle.yes}" type="button" styleClass="btn success ui-confirmdialog-yes" icon="ui-icon-check"/>
					<p:commandButton value="#{bundle.no}" type="button" styleClass="btn cancel ui-confirmdialog-no" icon="ui-icon-close"/>
				</p:confirmDialog>
						
		</h:form>
	</ui:define>
</ui:composition>
