<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/template.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
 	  xmlns:c="http://java.sun.com/jsp/jstl/core"
 	  xmlns:p="http://primefaces.org/ui" >

<ui:define name="head">
   <script type="text/javascript">
	   PrimeFaces.locales['pt_BR'] = {
			    closeText: 'Fechar',
			    prevText: 'Anterior',
			    nextText: 'Próximo',
			    currentText: 'Começo',
			    monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
			    monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun', 'Jul','Ago','Set','Out','Nov','Dez'],
			    dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
			    dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb'],
			    dayNamesMin: ['D','S','T','Q','Q','S','S'],
			    weekHeader: 'Semana',
			    firstDay: 0,
			    isRTL: false,
			    showMonthAfterYear: false,
			    yearSuffix: '',
			    timeOnlyTitle: 'Só Horas',
			    timeText: 'Tempo',
			    hourText: 'Hora',
			    minuteText: 'Minuto',
			    secondText: 'Segundo',
			    ampm: false,
			    month: 'Mês',
			    week: 'Semana',
			    day: 'Dia',
			    allDayText : 'Todo o Dia'
			};   
   </script>           
</ui:define>
 	  
	<ui:define name="content">
		<f:metadata>
		   <f:event type="preRenderView" listener="#{searchCalibrationLaboratoryBean.loadInit}" />
		</f:metadata>
		
		<h:form id="frmSearchMeasuringInstrument" prependId="false">
		
			<p:growl id="msg" showDetail="false" autoUpdate="true" sticky="false" escape="true" style="text-align: left;" life="2000"/>

				<p:panel id="basic" header="" footer="" toggleable="false">
                	 
	                <f:facet name="header">
					  <h:panelGrid columns="2">
					    <span class="ui-icon ui-icon-apps" />
					    <h:outputText value="#{bundle.searchCalibrationLaboratory}" style="font-weight:bold;text-transform: uppercase" />
					  </h:panelGrid>
					</f:facet>
 
	                <f:facet name="footer">
	                
						<p:outputPanel id="view">
						
							<p:dataTable var="calibrationLaboratoryRow" value="#{searchCalibrationLaboratoryBean.calibrationLaboratories}" emptyMessage="#{bundle.measuringInstrumentNotExists}"
								paginator="true" rows="50" lazy="true" currentPageReportTemplate="#{bundle.totalRecords}: {totalRecords},  #{bundle.pages}: {currentPage} #{bundle.of} {totalPages}"
								paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"							
								rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}"
		                 		rowsPerPageTemplate="10,25,50,100,500,1000">
								
						        <p:column sortBy="#{calibrationLaboratoryRow.id}" headerText="#{bundle.searchCalibrationLaboratoryId}" style="width:4%;text-align: left;">
						            <h:outputText value="#{calibrationLaboratoryRow.id}" />
						        </p:column>
								
						        <p:column sortBy="#{calibrationLaboratoryRow.name}" headerText="#{bundle.searchCalibrationLaboratoryName}" style="width:18%;text-align: left;">
						            <h:outputText value="#{calibrationLaboratoryRow.name}" />
						        </p:column>
								<p:column sortBy="#{calibrationLaboratoryRow.cnpj}" headerText="#{bundle.searchCalibrationLaboratoryCNPJ}" style="width:18%;text-align: left;">
									<h:outputText value="#{calibrationLaboratoryRow.cnpj}" />
								</p:column>

								<p:column headerText="#{bundle.options}" style="width:6%" styleClass="ui_botoes_grid">

									<p:commandButton id='changeMeasuringInstrumentbt' icon="fa fa-edit" action="#{searchCalibrationLaboratoryBean.register}" title="#{bundle.updateMeasuringInstrument}">
										<f:setPropertyActionListener value="#{calibrationLaboratoryRow}" target="#{createCalibrationLaboratoryBean.calibrationLaboratory}" />
										<f:setPropertyActionListener value="UPDATE" target="#{createCalibrationLaboratoryBean.operation}" />
										<f:setPropertyActionListener value="" target="#{createCalibrationLaboratoryBean.filters}" />
									</p:commandButton>

									<p:commandButton id='removeMeasuringInstrumentbt' icon="fa fa-trash" actionListener="#{searchCalibrationLaboratoryBean.remove(calibrationLaboratoryRow)}" title="#{bundle.removeMeasuringInstrument}" update="view">
										<p:confirm header="#{bundle.removeCalibrationLaboratory}" message="#{bundle.confirmRemoveCalibrationLaboratory}" icon="ui-icon-alert" />
									</p:commandButton>

								</p:column>


						        <!-- 
						        <p:column sortBy="#{measuringInstrumentRow.measuringInstrumentStateIdentifier}" headerText="#{bundle.measuringInstrumentStateIdentifier}" style="width:10%;text-align: center;">  
									<p:commandButton id='measuringInstrumentCollectedState' icon="fa fa-fw fa-power-off" style="color:#81c784;opacity:0.65;background-color: #81c784;" title="#{bundle.CollectedState}" rendered="#{measuringInstrumentRow.measuringInstrumentStateIdentifier.id eq 'collected'}"/>
									<p:commandButton id='measuringInstrumentInUseState' icon="fa fa-fw fa-power-off" style="color:#81c784;opacity:0.65;background-color: #81c784;" title="#{bundle.InUseState}" rendered="#{measuringInstrumentRow.measuringInstrumentStateIdentifier.id eq 'inUse'}"/>
									<p:commandButton id='measuringInstrumentRegisteredState' icon="fa fa-fw fa-power-off" style="color:#81c784;opacity:0.65;background-color: #81c784;" title="#{bundle.RegisteredState}" rendered="#{measuringInstrumentRow.measuringInstrumentStateIdentifier.id eq 'registered'}"/>
									<p:commandButton id='measuringInstrumentSentToCalibrationState' icon="fa fa-fw fa-power-off" style="color:#81c784;opacity:0.65;background-color: #81c784;" title="#{bundle.SentToCalibrationState}" rendered="#{measuringInstrumentRow.measuringInstrumentStateIdentifier.id eq 'sentToCalibration'}"/>
									<p:commandButton id='measuringInstrumentReceivedFromCalibrationState' icon="fa fa-fw fa-power-off" style="color:#81c784;opacity:0.65;background-color: #81c784;" title="#{bundle.ReceivedFromCalibrationState}" rendered="#{measuringInstrumentRow.measuringInstrumentStateIdentifier.id eq 'receivedFromCalibration'}"/>
									<p:commandButton id='measuringInstrumentDisapprovedCertificateState' icon="fa fa-fw fa-power-off" style="color:#81c784;opacity:0.65;background-color: #81c784;" title="#{bundle.DisapprovedCertificateState}" rendered="#{measuringInstrumentRow.measuringInstrumentStateIdentifier.id eq 'disapprovedCertificate'}"/>
									<p:commandButton id='measuringInstrumentApprovedCertificateState' icon="fa fa-fw fa-power-off" style="color:#81c784;opacity:0.65;background-color: #81c784;" title="#{bundle.ApprovedCertificateState}" rendered="#{measuringInstrumentRow.measuringInstrumentStateIdentifier.id eq 'approvedCertificate'}"/>
									<p:commandButton id='measuringInstrumentInRepairState' icon="fa fa-fw fa-power-off" style="color:#81c784;opacity:0.65;background-color: #81c784;" title="#{bundle.InRepairState}" rendered="#{measuringInstrumentRow.measuringInstrumentStateIdentifier.id eq 'inRepair'}"/>
									<p:commandButton id='measuringInstrumentObsoleteState' icon="fa fa-fw fa-power-off" style="color:#81c784;opacity:0.65;background-color: #81c784;" title="#{bundle.ObsoleteState}" rendered="#{measuringInstrumentRow.measuringInstrumentStateIdentifier.id eq 'obsolete'}"/>
									<p:commandButton id='measuringInstrumentDropOffState' icon="fa fa-fw fa-power-off" style="color:#81c784;opacity:0.65;background-color: #81c784;" title="#{bundle.DropOffState}" rendered="#{measuringInstrumentRow.measuringInstrumentStateIdentifier.id eq 'dropOff'}"/>
						        </p:column>
		  						-->
						        
							</p:dataTable>
							
						</p:outputPanel>
							                
	    			</f:facet>

					<div class="span2 clear">

						<p:fieldset id="fieldsetSearch" legend="#{bundle.calibrationLaboratory}" toggleable="false" toggleSpeed="500">

							<div>

								<div class="button">
									<p:commandButton id="btNew" value="#{bundle.newButton}" action="#{searchCalibrationLaboratoryBean.register}" ajax="true" icon="ui-icon-add" styleClass="cyan-btn flat" >
                                        <f:setPropertyActionListener value="" target="#{createCalibrationLaboratoryBean.calibrationLaboratory}" />
                                        <f:setPropertyActionListener value="" target="#{createCalibrationLaboratoryBean.filters}" />
                                        <f:setPropertyActionListener value="NEW" target="#{createCalibrationLaboratoryBean.operation}" />
                                    </p:commandButton>
								</div>

							</div>

						</p:fieldset>
					</div>
                 
                </p:panel>

				<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
					<p:commandButton value="#{bundle.yes}" type="button" styleClass="btn success ui-confirmdialog-yes" icon="ui-icon-check"/>
					<p:commandButton value="#{bundle.no}" type="button" styleClass="btn cancel ui-confirmdialog-no" icon="ui-icon-close"/>
				</p:confirmDialog>
						
		</h:form>
	</ui:define>
</ui:composition>
