<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="../../WEB-INF/templates/template.xhtml"
	  xmlns="http://www.w3.org/1999/xhtml"     
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
 	  xmlns:c="http://java.sun.com/jsp/jstl/core"
 	  xmlns:p="http://primefaces.org/ui" >
	<ui:define name="content">
		<f:metadata>
		   <f:event type="preRenderView" listener="#{searchSpecsBean.loadInit}" />	
		</f:metadata>
		
		<h:form id="frmSearchSpecs" prependId="false">
				
			<p:growl id="msg" showDetail="false" autoUpdate="true" sticky="false" escape="true" style="text-align: left;" life="2000"/>  
			
			<p:panel id="basic" header="" footer="" toggleable="false">
                	 
                <f:facet name="header">
				  <h:panelGrid columns="2">
				    <span class="ui-icon ui-icon-apps" />
				    <h:outputText value="#{bundle.searchSpecs}" style="font-weight:bold;text-transform: uppercase" />
				  </h:panelGrid>
				</f:facet>

                <f:facet name="footer">
				
					<p:outputPanel id="view">
						<p:dataTable var="s" value="#{searchSpecsBean.specs}" emptyMessage="#{bundle.specNotExists}" 
							paginator="true" rows="20" lazy="true" currentPageReportTemplate="#{bundle.totalRecords}: {totalRecords},  #{bundle.pages}: {currentPage} #{bundle.of} {totalPages}"
							paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"							
							rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even' : 'old'}"
	                 		rowsPerPageTemplate="20,5,10,15,40">
	
					        <p:column sortBy="#{bundle.identifier}" headerText="#{bundle.identifier}" style="width:10%;text-align: left;">  
					            <h:outputText value="#{s.identifier}" />  
					        </p:column>  
	
					        <p:column sortBy="#{bundle.name}" headerText="#{bundle.name}" style="width:20%;text-align: left;">  
					            <h:outputText value="#{s.name}" />  
					        </p:column>
					        
					        <p:column sortBy="#{bundle.description}" headerText="#{bundle.description}" style="width:30%;text-align: left;">  
					            <h:outputText value="#{s.description}" />  
					        </p:column>
	
					        <p:column sortBy="#{bundle.specCategory}" headerText="#{bundle.specCategory}" style="width:20%;text-align: left;">  
					            <h:outputText value="#{s.specCategory.identifier}" />  
					        </p:column>
	
					        <p:column sortBy="#{bundle.order}" headerText="#{bundle.order}" style="width:10%;text-align: left;">  
					            <h:outputText value="#{s.order}" />  
					        </p:column>
	
					        <p:column headerText="#{bundle.options}" style="width:10%" styleClass="ui_botoes_grid"> 
					            <p:commandButton icon="fa fa-edit" action="#{searchSpecsBean.register}" title="#{bundle.updateSpec}" >  
					                <f:setPropertyActionListener value="#{s}" target="#{createSpecBean.spec}" />  
					                <f:setPropertyActionListener value="UPDATE" target="#{createSpecBean.operation}" />  
					                <f:setPropertyActionListener value="true" target="#{createSpecBean.validateIdentifier}" />  
					            </p:commandButton>  				         
	  				            <p:commandButton icon="fa fa-trash" actionListener="#{searchSpecsBean.remove(s)}" title="#{bundle.removeSpec}" update="view"> 
	  				             	<p:confirm header="#{bundle.removeSpec}" message="#{bundle.confirmRemoveSpec}" icon="ui-icon-alert" />
					            </p:commandButton>  				         
					        </p:column>  
						</p:dataTable>
					</p:outputPanel>	
				</f:facet>

				<p:fieldset id="fieldsetSearch" legend="#{bundle.filters}" toggleable="false" toggleSpeed="500">
 				  		<h:outputText value="#{bundle.specCategory}:" />  
					<h:selectOneMenu id="line" value="#{searchSpecsBean.specFilter.specCategory}" style="height:30px;" converter="specCategoryConverter" title="#{bundle.selectMeterLineFilter}">  
		            	<f:selectItem itemLabel="#{bundle.all}" itemValue="" />  
            			<f:selectItems var="c" itemLabel="#{c.name}" itemValue="#{c}" value="#{searchSpecsBean.specCategories}"  />
					</h:selectOneMenu>							
					<p:spacer width="8" />

					<h:outputText value="#{bundle.name}:" />
					<h:inputText id="nameFilter" value="#{searchSpecsBean.specFilter.name}" />
					<p:spacer width="8" />
					
					<p:commandButton id="btSearch" icon="fa fa-search" actionListener="#{searchSpecsBean.search}" title="#{bundle.find}" update="@form" />
					
					<div class="button">
						<p:commandButton id="btNew" value="#{bundle.newButton}" action="#{searchSpecsBean.register}" ajax="true" icon="ui-icon-add" styleClass="cyan-btn flat">
							<f:setPropertyActionListener value="" target="#{createSpecBean.spec}" />  
	        	        	<f:setPropertyActionListener value="NEW" target="#{createSpecBean.operation}" />  
						</p:commandButton>
					</div>
					
				</p:fieldset>
			</p:panel>
			<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
				<p:commandButton value="#{bundle.yes}" type="button" styleClass="btn success ui-confirmdialog-yes" icon="ui-icon-check"/>
				<p:commandButton value="#{bundle.no}" type="button" styleClass="btn cancel ui-confirmdialog-no" icon="ui-icon-close"/>
			</p:confirmDialog>			
		</h:form>
	</ui:define>
</ui:composition>
