<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt" xml:lang="pt"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"	
	xmlns:sec="http://www.springframework.org/security/facelets/tags"  >
    <h:head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-16" />
        <title>ConfigSW</title>
		<link rel="stylesheet" type="text/css" media="all" href="/sai/css/sai.css" />
		<link href="/configSW/img/favicon2.ico" rel="shortcut icon" type="image/x-icon" /> 
	</h:head>
    <h:body>
		<f:view contentType="text/html"> 
			<div id="geral">
				<div id="centro">
					<div style="float:left; background-image:url(/configSW/imagens/logotipo.png); height:100px; width:539px; margin-left:10px;"/>
		            <div class="menu">
						<ui:include src="menu.xhtml"/>
		            </div>
					<div class="b1 cinzaclaro"/>
					<div class="b2 cinzaclaro"/>
		            <div class="centro">	                
	                     <h2>Você não tem Permissão de Acesso!</h2>
		            </div>
					<div class="b2 cinzaclaro"/>
					<div class="b1 cinzaclaro"/>
				</div>
				<div style="height:90px; background-color:#196aa6; margin-top:0px; padding:10px;">
				</div>
				<p:ajaxStatus styleClass="loading">
	       			<f:facet name="start">
	           			<p:graphicImage value="/img/loading.gif" title="Por favor, aguarde." alt="Carregando informações..." />
						<p><strong>Aguarde,</strong> carregando informações...</p>
	       			</f:facet>
	       			<f:facet name="complete">
	           			<h:outputText value="" />
	       			</f:facet>
	 			</p:ajaxStatus>
				<script type="text/javascript">
					jQuery(".loading > div:first-child").addClass("first");
				</script>
			</div>
	   	</f:view>
   </h:body>
</html>
